@model CustomerWallitMeta
@{
    ViewBag.Title = string.Format("Update e-wallet information \"{0}\"", Model.Name);
}
<script>
    var walletJsTree = @Html.Raw(ViewBag.walletJsTree);
</script>
<section class="content-header">
    <h1>
        Update e-wallet information
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("AccountingWallet")">List of payroll e-wallet accounts</a></li>
        <li class="active">Update statement</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <form action="@Url.Action("EditWallet")" method="post" class="form-horizontal" id="submitForm">
            @Html.AntiForgeryToken()
            <div class="box-body">
                @Html.Partial("_UpdateWallet", Model)
            </div>
            <div class="box-footer">
                <a href="@Url.Action("AccountingWallet")" role="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to list</a>
                <button type="button" class="btn btn-info pull-right" onclick="submitForm()"><i class="fa fa-plus"></i> Update a term</button>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->

