@model  ModelView<Library.DbContext.Entities.FinanceFund, FinanceFundViewModel>
@using System.Globalization
<div class="box">
    @*<div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
        </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-body no-padding">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center w-40">#</th>
                            <th class="text-center w-100">Fund name</th>
                            <th class="text-center w-190">Name of the father fund</th>
                            <th class="text-center w-170">Amount of money</th>
                            <th class="text-center w-100">Status</th>
                            <th class="text-center w-70">Note</th>
                            <th class="text-center w-150">Manager name</th>
                            <th class="text-center w-170">Mail</th>
                            <th class="text-center w-100">Account InforPhone</th>
                            <th class="text-center w-80"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.Items.Any())
            {
                            <tr>
                                <td colspan="3" class="text-center">No Record</td>
                            </tr>
                        }
                        else
                        {
                            var idx = 1;
                            foreach (var m in Model.Items)
                            {
                                <tr>
                                    <td class="text-center">@((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.PageSize + idx)</td>
                                    <td>@m.Name</td>
                                    <td>@m.ParentName</td>
                                    <td>
                                        @if (@m.Balance > 0)
                                        {
                                            <text>@string.Format(CultureInfo.GetCultureInfo("en-US"), "{0:#,###.00}", m.Balance)</text>
                                        }
                                        else
                                        {
                                            <text>0</text>
                                        }
                                        
                                    </td>
                                    <td>
                                        @if (@m.Status == 0)
                                        {
                                            <span>Activity</span>
                                        }
                                        else
                                        {
                                            <span>Pause</span>
                                        }
                                    </td>
                                    <td>@m.Description</td>
                                    <td>@m.UserFullName</td>
                                    <td>@m.UserEmail</td>
                                    <td>@m.UserPhone</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("EditFund", new {id = m.Id})" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</a>
                                        <a href="javascript:;" data-url="@Url.Action("FundDelete", new {id = m.Id})" data-name="@m.Name" class="btn btn-sm btn-danger delete-item"><i class="fa fa-times"></i> Delete </a>
                                    </td>
                                </tr>
                                idx += 1;
                            }
                        }
                    </tbody>
                </table>
            </div>

            @Html.Partial("_Paging", Model.PageInfo)
        </div>
        <!-- /.box-body -->
    </div>
</div>