@model ModelView<Library.DbContext.Entities.Customer, CustomerViewModel>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Customer List</h3>

        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add new</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="tabbable page-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#all-tasks" data-toggle="tab">All <span class="label label-danger">100</span></a></li>
                <li><a href="#active" data-toggle="tab">nhaphangtrungquoc.com<span class="label label-primary">5</span></a></li>
                <li><a href="#closed" data-toggle="tab">orderhangkinhdoanh.com<span class="label label-primary">30</span></a></li>
                <li><a href="#active" data-toggle="tab">timnguonhanggiare.com<span class="label label-primary">5</span></a></li>
            </ul>
            <div class="tab-content">
                <!-- First tab -->
                <div class="tab-pane active fade in" id="all-tasks">
                    <!-- Tasks table -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Account ID</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Account management </th>
                                    <th class="text-center">Select System</th>
                                    <th class="text-center">User information</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Items.Count <= 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Record</td>
                                    </tr>
                                }
                                else
                                {
                                    var idx = 1;
                                    foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.PageSize + idx)</td>
                                            <td class="text-center">
                                                <a href="/Customer/Profile"><strong>@item.Code</strong></a><br />
                                                <span class="badge bg-green">@item.LevelName</span>
                                            </td>
                                            <td class="text-center"><img alt="Avatar" style="width: 50px;" src="@item.Avatar"></td>
                                            <td class="text-center">@item.Email</td>
                                            <td class="text-center">@item.SystemId</td>
                                            <td>
                                                <span>Full name: @item.FullName</span><br />
                                                <span>Sđt: @item.Phone</span><br />
                                                <span>Email: @item.Email</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-success">
                                                   @if (item.Status == 0)
                                                   {
                                                    <span class="label label-success">Opening</span>
                                                   }
                                                   else
                                                   {
                                                    <span class="label label-success">Locking</span>
                                                   }
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="javascript:;" data-url="@Url.Action("DeleteCustomer", new {id = item.Id})" data-name="@item.FullName" class="btn btn-sm btn-danger btn-xs delete-item"><i class="fa fa-trash"></i> Delete  </a>
                                            </td>
                                        </tr>
                                        idx++;
                                    }
                                }
                                @*<tr>
                                            <td class="text-center">2</td>
                                            <td class="text-center">
                                                <a href="/Customer/Profile"><strong>USR010012012</strong></a><br />
                                                <span class="badge bg-green">VIP 3</span>
                                            </td>
                                            <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                                            <td class="text-center">hanoibanhcuon</td>
                                            <td class="text-center">nhaphangtrungquoc.com</td>
                                            <td>
                                                <span>Full name: Nguyễn Văn An</span><br />
                                                <span>Phone : 010291929122</span><br />
                                                <span>Email: nguyenvanan@gmail.com</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-danger">Deleted</span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i>Edit</a>
                                                <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td class="text-center">
                                                <a href="/Customer/Profile"><strong>USR010012012</strong></a><br />
                                                <span class="badge bg-green">VIP 3</span>
                                            </td>
                                            <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
                                            <td class="text-center">hanoibanhcuon</td>
                                            <td class="text-center">nhaphangtrungquoc.com</td>
                                            <td>
                                                <span>Full name: Nguyễn Văn An</span><br />
                                                <span>Phone : 010291929122</span><br />
                                                <span>Email: nguyenvanan@gmail.com</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-warning">No active</span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
                                            </td>
                                        </tr>*@
                            </tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /first tab -->
                <!-- Second tab -->
                <div class="tab-pane fade" id="active">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Account ID</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Account </th>
                                    <th class="text-center">Select System</th>
                                    <th class="text-center">User Information</th>
                                    <th class="text-center">Status</th>
                                    <th class="pull-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
        <td class="text-center">1</td>
        <td class="text-center">
            <a href="#"><strong>USR010012012</strong></a><br />
            <span class="badge bg-green">VIP 3</span>
        </td>
        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
        <td class="text-center">hanoibanhcuon</td>
        <td class="text-center">nhaphangtrungquoc.com</td>
        <td>
            <span>Full name: Nguyễn Văn An</span><br />
            <span>Phone : 010291929122</span><br />
            <span>Email: nguyenvanan@gmail.com</span>
        </td>
        <td>
            <span>Innitiated date: 02/08/2016</span><br />
            <span>Updated date: 02/08/2016</span>
        </td>
        <td class="text-center">
            <span class="label label-success">Opening</span>
        </td>
        <td class="pull-right">
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
        </td>
    </tr>*@
                                @if (Model.Items.Count <= 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Record</td>
                                    </tr>
                                }
                                else
                                {
                                    var idx = 1;
                                    foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.PageSize + idx)</td>
                                            <td class="text-center">
                                                <a href="/Customer/Profile"><strong>@item.Code</strong></a><br />
                                                <span class="badge bg-green">@item.LevelName</span>
                                            </td>
                                            <td class="text-center"><img alt="Avatar" style="width: 50px;" src="@item.Avatar"></td>
                                            <td class="text-center">@item.Email</td>
                                            <td class="text-center">@item.SystemId</td>
                                            <td>
                                                <span>Full name: @item.FullName</span><br />
                                                <span>Sđt: @item.Phone</span><br />
                                                <span>Email: @item.Email</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-success">
                                                    @if (item.Status == 0)
                                                    {
                                                        <span class="label label-success">Opening</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-success">Locking</span>
                                                    }
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="javascript:;" data-url="@Url.Action("DeleteCustomer", new {id = item.Id})" data-name="@item.FullName" class="btn btn-sm btn-danger btn-xs delete-item"><i class="fa fa-trash"></i> Delete  </a>
                                            </td>
                                        </tr>
                                        idx++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /second tab -->
                <!-- Third tab -->
                <div class="tab-pane fade" id="closed">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Account ID</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Account </th>
                                    <th class="text-center">Select System</th>
                                    <th class="text-center">User Information</th>
                                    <th class="text-center">Status</th>
                                    <th class="pull-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
        <td class="text-center">1</td>
        <td class="text-center">
            <a href="#"><strong>USR010012012</strong></a><br />
            <span class="badge bg-green">VIP 3</span>
        </td>
        <td class="text-center"><img alt="Avatar" style="width: 50px;" ng-reflect-src="/Content/dist/img/user2-160x160.jpg" src="/Content/dist/img/user2-160x160.jpg"></td>
        <td class="text-center">hanoibanhcuon</td>
        <td class="text-center">nhaphangtrungquoc.com</td>
        <td>
            <span>Full name: Nguyễn Văn An</span><br />
            <span>Phone : 010291929122</span><br />
            <span>Email: nguyenvanan@gmail.com</span>
        </td>
        <td>
            <span>Innitiated date: 02/08/2016</span><br />
            <span>Updated date: 02/08/2016</span>
        </td>
        <td class="text-center">
            <span class="label label-success">Opening</span>
        </td>
        <td class="pull-right">
            <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a>
        </td>
    </tr>*@
                                @if (Model.Items.Count <= 0)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Record</td>
                                    </tr>
                                }
                                else
                                {
                                    var idx = 1;
                                    foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@((Model.PageInfo.CurrentPage - 1) * Model.PageInfo.PageSize + idx)</td>
                                            <td class="text-center">
                                                <a href="/Customer/Profile"><strong>@item.Code</strong></a><br />
                                                <span class="badge bg-green">@item.LevelName</span>
                                            </td>
                                            <td class="text-center"><img alt="Avatar" style="width: 50px;" src="@item.Avatar"></td>
                                            <td class="text-center">@item.Email</td>
                                            <td class="text-center">@item.SystemId</td>
                                            <td>
                                                <span>Full name: @item.FullName</span><br />
                                                <span>Sđt: @item.Phone</span><br />
                                                <span>Email: @item.Email</span>
                                            </td>
                                            <td class="text-center">
                                                <span class="label label-success">
                                                    @if (item.Status == 0)
                                                    {
                                                        <span class="label label-success">Opening</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-success">Locking</span>
                                                    }
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                                <a href="javascript:;" data-url="@Url.Action("DeleteCustomer", new {id = item.Id})" data-name="@item.FullName" class="btn btn-sm btn-danger btn-xs delete-item"><i class="fa fa-trash"></i> Delete  </a>
                                            </td>
                                        </tr>
                                        idx++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /third tab -->
            </div>
        </div>
        <!-- /page tabs -->
    </div>
    <!-- /.box-body -->
</div>

