@model ImportWarehouseMeta
@{
    var order = (byte)OrderType.Order;
    var deposit = (byte)OrderType.Deposit;
    var commerce = (byte)OrderType.Commerce;
}

<div id="importWarehouseBind">
    <div id="importWarehouseAddOrEdit" class="modal fade modal-dialog modal-lg" tabindex="-1" data-backdrop="static" role="dialog">
        <form data-bind="submit: save" id="importWarehouseForm">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-9">
                        <h2 class="order-header">
                            <i class="fa fa-file-text-o"></i>
                            <!-- ko if: id() > 0 -->
                            <span>RECEIPT "#<b data-bind="text: 'I'+code()" style="color: red"></b>"</span>
                            <!-- /ko -->
                            <!-- ko ifnot: id() > 0 -->
                            <span>Create a receipt</span>
                            <!-- /ko -->
                        </h2>
                    </div>
                    <div class="col-xs-3">
                        <h2 class="order-header">
                            <!-- ko if: id() > 0-->
                            <small class="pull-right"> Slip creation date :<span data-bind="text: moment(created()).format('DD/MM/YYYY')" class="font-green"></span></small>
                            <!-- /ko -->
                        </h2>
                    </div>
                </div>
                <!-- info row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form">
                            <div class="form-horizontal">
                                <h4 data-bind="click: chageIsShowInfo" class="form-section section-hover mt0 mb10 bold500 border-green">Voucher information<i data-bind="attr: {class: isShowInfo() ? 'fa fa-chevron-up pull-right' : 'fa fa-chevron-down pull-right' }" class="fa fa-chevron-down pull-right" aria-hidden="true"></i></h4>
                                <div data-bind="visible: isShowInfo" class="form-horizontal">
                                    <div class="box-body">
                                        <!-- ko if: id() <= 0 || id() > 0 && window.hasUpdateImportWarehouse -->
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Deliver :</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                            @Html.TextBoxFor(x => x.ShipperName, new Dictionary<string, object>()
                                            {
                                                {"class", "form-control"},
                                                {"data-bind", "value: shipperName"}
                                            })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.ShipperName)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Phone:</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-phone"></i>
                                                            </div>
                                                            @Html.TextBoxFor(x => x.ShipperPhone, new Dictionary<string, object>()
                                            {
                                                {"class", "form-control"},
                                                {"data-bind", "value: shipperPhone"}
                                            })
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.ShipperPhone)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address :</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextAreaFor(x => x.ShipperAddress, new Dictionary<string, object>()
                                        {
                                            {"class", "form-control"},
                                            {"data-bind", "value: shipperAddress"},
                                            {"rows", "5"}
                                        })
                                                        @Html.ValidationMessageFor(model => model.ShipperAddress)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Status :</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(x => x.Status, (List<SelectListItem>)ViewBag.StatesSelectListItem, new Dictionary<string, object>()
                                        {
                                            {"class", "form-control"},
                                            {"data-bind", "value: status"}
                                        })
                                                        @Html.ValidationMessageFor(model => model.Status)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Slip slip notes</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextAreaFor(x => x.Note, new Dictionary<string, object>()
                                        {
                                            {"class", "form-control"},
                                            {"data-bind", "value: note"},
                                            {"rows", "5"}
                                        })
                                                        @Html.ValidationMessageFor(model => model.Note)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Warehouse name:</label>
                                                    <div class="col-sm-10">
                                                        <p class="form-control-static">Office Name</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address :</label>
                                                    <div class="col-sm-10">
                                                        <p class="form-control-static">Office Address</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                        <!-- ko ifnot: id() <= 0 || id() > 0 && window.hasUpdateImportWarehouse -->
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Deliver :</label>
                                                    <div class="col-sm-10">
                                                        <div data-bind="text: shipperName"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Phone:</label>
                                                    <div class="col-sm-10">
                                                        <div data-bind="text: shipperPhone"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address :</label>
                                                    <div class="col-sm-10">
                                                        <div data-bind="text: shipperAddress"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Status :</label>
                                                    <div class="col-sm-10">
                                                        <div data-bind="text: statesGroupBy[''+status()][0].name"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Slip slip notes:</label>
                                                    <div class="col-sm-10">
                                                        <div data-bind="text: note"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Warehouse name:</label>
                                                    <div class="col-sm-10">
                                                        <p data-bind="text: warehouseName" class="form-control-static"></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address :</label>
                                                    <div class="col-sm-10">
                                                        <p data-bind="text: warehouseAddress" class="form-control-static"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form">
                            <div class="form-horizontal">
                                <h4 class="form-section mt0 mb10 bold500 border-green">News list</h4>
                                <div class="form-horizontal">
                                    <div class="box-body ">
                                        <!-- ko if: id() <= 0 || id() > 0 && window.hasUpdateImportWarehouse -->
                                        <div class="form-inline col-sm-12 mb15">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    @*<div class="input-group-btn">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span data-bind="text: suggetionType() == 0 ? 'package' : 'Bao hàng'"></span> <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a data-bind="click: changeSuggetionType.bind($data, 0)" href="javascript:;">Package</a></li>
                                                                <li><a data-bind="click: changeSuggetionType.bind($data, 1)" href="javascript:;">@Resource.BaoHang</a></li>
                                                            </ul>
                                                        </div>*@
                                                    <input data-bind="attr: {placeholder: suggetionType() == 0 ? 'Look for packages ...' : 'Find sacks ...'}" id="suggetion" type="text" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button"><i class="fa fa-add"></i> <span data-bind="text: suggetionType() == 0 ? 'Look for packages' : 'Add packages'"></span></button>
                                                    </span>
                                                </div><!-- /input-group -->
                                            </div>
                                            <!-- ko if: suggetionType() == 0 -->
                                            <div class="pull-right">
                                                <!-- ko if: transportCodes().length > 0 -->
                                                <div class="form-group m0 mr5">
                                                    <a data-bind="click: showTransportCodesModal" href="javascript:;" class="btn btn-warning">
                                                        The bill of lading has no information
                                                        "<span data-bind="text: transportCodes().length"></span>"
                                                    </a>
                                                </div>
                                                <!-- /ko -->
                                                <div class="form-group m0 mr5">
                                                    <a data-bind="click: showOrderServiceOther" href="javascript:;" class="btn btn-info">
                                                       Incurred fee  
                                                        <!-- ko if: orderServiceOtherModelView.items().length > 0 -->
                                                        "<span data-bind="text: orderServiceOtherModelView.items().length"></span>"
                                                        <!-- /ko -->
                                                    </a>
                                                </div>
                                                <div class="form-group ml5">
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                            Encrypted case
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                                            <li><a data-bind="click: showAddPackage" href="javascript:;">Single search</a></li>
                                                            <li><a data-bind="click: showAddPackageLose" href="javascript:;">Add the password</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                        <!-- /ko -->
                                        <div class="row">
                                            <div class="col-xs-12 table-responsive">
                                                <!-- ko if: suggetionType() == 0 -->
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center w50">#</th>
                                                            <th class="text-center w80">Package code</th>
                                                            <th class="text-center w80">Orders </th>
                                                            <th class="text-center w100">Transport code</th>
                                                            <th class="text-center w50">Type</th>
                                                            <th class="text-center">Destination warehouse</th>
                                                            <th class="text-center">Note</th>
                                                            <th class="text-center w100">Status</th>
                                                            <th class="text-center w50"></th>
                                                        </tr>
                                                    </thead>
                                                    <!-- ko if: items().length == 0 || isLoadingItems() -->
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="11" class="text-center">
                                                                <!-- ko if: isLoadingItems() -->
                                                                <i class="fa fa-spinner fa-pulse"></i> Loading...
                                                                <!-- /ko -->
                                                                <!-- ko if: !isLoadingItems() && items().length == 0 -->
                                                          No package
                                                                <!-- /ko -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: items().length == 0 -->
                                                    <tbody data-bind="template: {name: 'packageTemplate', foreach: items}"></tbody>
                                                    <!-- /ko -->
                                                </table>
                                                <!-- /ko -->
                                                <!-- ko ifnot: suggetionType() == 0 -->
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center w50">#</th>
                                                            <th class="text-center w80">Package code</th>
                                                            <th class="text-center w50">Type</th>
                                                            <th class="text-center w50">Package number</th>
                                                            <th class="text-center w100">Size</th>
                                                            <th class="text-center w100">Weight</th>
                                                            <th class="text-center w100">Weight after exchange</th>
                                                            <th class="text-center">Destination warehouse</th>
                                                            <th class="text-center">Note</th>
                                                            <th class="text-center w100">Status</th>
                                                            <th class="text-center w50"></th>
                                                        </tr>
                                                    </thead>
                                                    <!-- ko if: items().length == 0 || isLoadingItems() -->
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="11" class="text-center">
                                                                <!-- ko if: isLoadingItems() -->
                                                                <i class="fa fa-spinner fa-pulse"></i> Loading...
                                                                <!-- /ko -->
                                                                <!-- ko if: !isLoadingItems() && items().length == 0 -->
                                                                There are no records
                                                                <!-- /ko -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!-- /ko -->
                                                    <!-- ko ifnot: items().length == 0 -->
                                                    <tbody data-bind="template: {name: 'packageWalletTemplate', foreach: items}"></tbody>
                                                    <!-- /ko -->
                                                </table>
                                                <!-- /ko -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<!-- Table row -->
                    <div class="row signature">
                        <div class="col-sm-3" align="center">
                            <h5><strong>Created by</strong></h5>
                            <span class="description">(Sign and write full name)</span>
                            <span data-bind="text: userFullName" class="name"></span>
                        </div>

                        <div class="col-sm-3" align="center">
                            <h5><strong>Carrier</strong></h5>
                            <span>(Sign and write full name)</span>

                        </div>

                        <div class="col-sm-3" align="center">
                            <h5><strong>Warehouse keeper</strong></h5>
                            <span>(Sign and write full name)</span>
                        </div>

                        <div class="col-sm-3" align="center">
                            <h5><strong>Accountant</strong></h5>
                            <span>(Sign and write full name)</span>
                        </div>
                    </div>
                    <!-- /.row -->*@
            </div>
            <div class="modal-footer">
                @*<a class="btn btn-primary pull-left"><i class="fa fa-print"></i>Print </a>*@
                <!-- ko if: id() <= 0 || id() > 0 && window.hasUpdateImportWarehouse -->
                <button data-bind="disable: isLoading" class="btn btn-success" type="submit"><i data-bind="attr: {class: isLoading() ? 'fa fa-spinner fa-pulse' : 'fa fa-save'}" class="fa fa-save"></i> <span data-bind="text: id() > 0 ? 'Save' : 'Create a receipt'"></span></button>
                <!-- /ko -->
                <a class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </form>
    </div>

    <div id="transportCodesModal" class="modal fade modal-dialog modal-sm" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><i class="fa fa-question"></i> Tracking code missing</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center w50">No.</th>
                        <th class="text-center">Waybill code</th>
                        <th class="text-center w50"></th>
                        <th class="text-center w50"></th>
                        <th class="text-center w50"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: transportCodes">
                    <tr>
                        <td data-bind="text: $index() + 1" class="text-center"></td>
                        <td data-bind="text: $data" class="text-center"></td>
                        <td class="text-center">
                            <a data-bind="click: $parent.showAddPackageCallback" class="btn btn-success btn-sm" href="javascript:;"><i class="fa fa-search"></i>Single search</a>
                        </td>
                        <td class="text-center">
                            <a data-bind="click: $parent.showAddPackageLoseCallback" class="btn btn-warning btn-sm" href="javascript:;"><i class="fa fa-plus"></i> Request to find lost code</a>
                        </td>
                        <td class="text-center">
                            <a data-bind="click: $parent.removeTransportCode" class="btn btn-danger btn-sm" href="javascript:;"><i class="fa fa-times"></i> Delete  </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>


@using (Html.BeginScriptBlock())
{
    <script type="text/javascript">
            var hasUpdateImportWarehouse = @Html.Raw(CheckPermision(EnumPage.ImportWarehouse, EnumAction.Update) ? "true": "false");
    </script>
    <script id="packageWalletTemplate" type="text/template">
        <tr>
            <td data-bind="text: $index()+1" class="text-center"></td>
            <td class="text-center">
                <a data-bind="text: packageCode, click: $parent.showWalletDetail.bind($data, packageId)" href="javascript:;"></a>
            </td>
            <td class="text-center">
                <span class="label label-success">Newspaper</span>
            </td>
            <td data-bind="text: formatNumberic(packageNo)" class="text-right"></td>
            <td data-bind="text: size" class="text-right"></td>
            <td data-bind="text: formatNumberic(weight, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(weightConverted, 'N2')" class="text-right"></td>
            <td>
                <b data-bind="text: warehouseName"></b><br />
                <span data-bind="text: warehouseAddress"></span>
            </td>
            <td>
                <!-- ko if: $parent.id() <= 0 || $parent.id() > 0 && window.hasUpdateImportWarehouse -->
                <textArea data-bind="value: note" class="form-control"></textArea>
                <!-- /ko -->
                <!-- ko ifnot: $parent.id() <= 0 || $parent.id() > 0 && window.hasUpdateImportWarehouse -->
                <span data-bind="text: note"></span>
                <!-- /ko -->
            </td>
            <td class="text-center">
                <span data-bind="if: status == 1" class="label label-success">Normal</span>
                <span data-bind="if: status == 0" class="label label-danger">Broken</span>
            </td>
            <td class="text-center">
                <a data-bind="click: $parent.removeItem" href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
            </td>
        </tr>
    </script>
    <script id="packageTemplate" type="text/template">
            <!-- ko if: isFirst() -->
            <tr class="bg-info">
                <th colspan="14">
                    <span data-bind="text: window.orderType[orderType +'']"></span>: <span data-bind="text: ReturnCode(orderCode)"></span>
                    - <span data-bind="text: customerName"></span>(<span data-bind="text: customerUserName"></span>)
                    - Package quantity: <span data-bind="text: formatNumberic(packageNoInWallet,'N0')"></span>/<span data-bind="text: formatNumberic(orderPackageNo,'N0')"></span>
                    <!-- ko if: orderServices -->
                    - Dịch vụ: <span data-bind="text: orderServices"></span>
                    <!-- /ko -->
                </th>
            </tr>
            <!-- /ko -->
            <tr data-bind="attr: {class: isHighline ? 'bg-warning' : ''}">
                <td data-bind="text: $index()+1" class="text-center"></td>
                <td class="text-center">
                    <a data-bind="text: 'P'+packageCode, click: $parent.showDetail.bind($data, packageId)" href="javascript:;"></a>
                </td>
                <td class="text-center">
                    <a data-bind="click: function() {orderTypeViewModel.showViewOrder(orderId, orderCode); }" href="javascript:;"><span data-bind="text: ReturnCode(orderCode)"></span></a>
                </td>
                <td class="text-center">
                    <span data-bind="text: transportCode"></span>
                </td>
                <td class="text-center">
                    <span class="label label-info">Package</span>
                </td>
                @*<td data-bind="text: weight" class="text-right"></td>
                    <td data-bind="text: weightConverted" class="text-right"></td>*@
                <td>
                    <b data-bind="text: warehouseName"></b><br />
                    <span data-bind="text: warehouseAddress"></span>
                </td>
                <td>
                    <!-- ko if: $parent.id() <= 0 || $parent.id() > 0 && window.hasUpdateImportWarehouse -->
                    <textArea data-bind="value: note" class="form-control"></textArea>
                    <!-- /ko -->
                    <!-- ko ifnot: $parent.id() <= 0 || $parent.id() > 0 && window.hasUpdateImportWarehouse -->
                    <span data-bind="text: note"></span>
                    <!-- /ko -->
                </td>
                <td class="text-center">
                    <span data-bind="if: status == 1" class="label label-success">Normal</span>
                    <span data-bind="if: status == 0" class="label label-danger">Broken</span>
                </td>
                <td class="text-center">
                    <a data-bind="click: $parent.removeItem" href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete Product Cart  </a>
                </td>
            </tr>
        </script>
}
