 <!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">STATISTICS</li>
    <li class="treeview">
        <a href="/Dashboard/">
            <i class="fa fa-dashboard"></i>
            <span>General statistics</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Business statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ReportBussiness/Customer"><i class="fa fa-circle-o"></i>Customer statistics</a></li>
            <li><a href="/ReportBussiness/Staff"><i class="fa fa-circle-o"></i>Statistics sales staff</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Financial Statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Sales statistics</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Statistics fund</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Debt statistics</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Order Processing Statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>All</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Potential customers</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Customers are using</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>KH risk disappears</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>My customer</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Census statistics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Ticket processing statistics</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Statistics of Customers</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Statistics Warehouse</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Reportwarehouse/Product"><i class="fa fa-circle-o"></i>Commodity Statistics</a></li>
            <li><a href="/Reportwarehouse/Inventory"><i class="fa fa-circle-o"></i>Inventory Statistics</a></li>
            <li><a href="/Reportwarehouse/Import"><i class="fa fa-circle-o"></i>Statistics warehouse</a></li>
            <li><a href="/Reportwarehouse/Export"><i class="fa fa-circle-o"></i>Inventory statistics</a></li>
            <li><a href="/Reportwarehouse/FlowCoordinator"><i class="fa fa-circle-o"></i>Transportation Statistics</a></li>
        </ul>
    </li>

    <li class="header">CUSTOMER MANAGEMENT</li>
    <li class="treeview">
        <a href="/Customer">
            <i class="fa fa-files-o"></i>
            <span>List of customers</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/CustomerOfStaff">
            <i class="fa fa-files-o"></i>
            <span>My client in charge</span>
        </a>
    </li>

    <li class="header">CUSTOMER MANAGEMENT</li>
    <li class="treeview">
        <a href="/Ticket">
            <i class="fa fa-dashboard"></i>
            <span>Handling the Customers</span>
        </a>
    </li>
    <li class="header">ORDER PROCESSING</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Menu of goods</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Category/"><i class="fa fa-circle-o"></i>Categories</a></li>
            <li><a href="/Product/"><i class="fa fa-circle-o"></i>Product</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/Purchase/Order">
            <i class="fa fa-dashboard"></i>
            <span>Order processing</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Shop List</span>
        </a>
    </li>
    <li class="header">INVENTORY MANAGEMENT</li>
    <li class="treeview">
        <a href="/WarehouseWarning">
            <i class="fa fa-dashboard"></i>
            <span>Warehouse Operations Forecast</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/OrderRisk">
            <i class="fa fa-circle-o"></i>
            <span>Risky orders</span>
            <small class="label pull-right bg-red">23</small>
        </a>
    </li>
    
    <li class="header">FINANCIAL MANAGEMENT</li>
    <li class="treeview">
        <a href="/AccountRecharge/">
            <i class="fa fa-files-o"></i>
            <span>Load / Subtract customer wallet</span>
        </a>
    </li>
    <li class="treeview">
        <a href="/FundRecharge/">
            <i class="fa fa-files-o"></i>
            <span>Loading / Subtracting Funds</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Debt control</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Liabilities/CustomerLiabilities"><i class="fa fa-circle-o"></i>Customer debt</a></li>
            <li><a href="/Liabilities/PartnerLiabilities"><i class="fa fa-circle-o"></i>Partner debt</a></li>

        </ul>
    </li>

    <li class="header">CONFIGURATION</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Category</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Office")"><i class="fa fa-circle-o"></i>Office</a></li>
            <li><a href="@Url.Action("Index", "Title")"><i class="fa fa-circle-o"></i>Title</a></li>
            <li><a href="@Url.Action("Index", "Position")"><i class="fa fa-circle-o"></i>Position</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>System</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>Configuration System</a></li>
            <li><a href="@Url.Action("Index", "User")"><i class="fa fa-circle-o"></i>User</a></li>
            <li><a href="@Url.Action("Index", "GroupPermission")"><i class="fa fa-circle-o"></i>Group Permission</a></li>
            @*<li><a href="#"><i class="fa fa-circle-o"></i>Decentralization</a></li>*@
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>@Resource.Warehouse_Toolbar_SettingWarehouse </span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/warehouseconfig/Warehouse"><i class="fa fa-circle-o"></i>List warehouse</a></li>
            <li><a href="/warehouseconfig/Layout"><i class="fa fa-circle-o"></i>Layout</a></li>
            <li><a href="/warehouseconfig/LayoutType"><i class="fa fa-circle-o"></i>Layout Type</a></li>
            <li><a href="/warehouseconfig/FlowCoordinator"><i class="fa fa-circle-o"></i>Flow Coordination</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Configure the price list</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ShipConfig/ShipPrice"><i class="fa fa-circle-o"></i>Ship Price List</a></li>
            <li><a href="/ShipConfig/ShipPrice"><i class="fa fa-circle-o"></i>Price list of customer preferences</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Configure customers</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/CustomerConfig/Level"><i class="fa fa-circle-o"></i>Customer level</a></li>
            <li><a href="/CustomerConfig/Favorable"><i class="fa fa-circle-o"></i>Customer preferences</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Configure the fund</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Finance/Fund"><i class="fa fa-circle-o"></i>List of funds</a></li>
            <li><a href="/Finance/AccountingRegulations"><i class="fa fa-circle-o"></i>Configuration of Expenses / Expenses</a></li>
        </ul>
    </li>
</ul>