<script type="text/html" id="notificationCommon">

    <div class="xiaoxi">
        <ul class="xiaoxi-nav">
            <li data-id="zhongxin" class="lete-active">@Resource.Dashboard_NotificationSystemAccount</li>
        </ul>
        <div class="xiaoxi-msg">
            <span>@Resource.TransactionHistory_Total @Resource.Home_Notification： <a id="total_num1" data-bind="text:totalNotifi"></a> </span>
            <span>@Resource.TransactionHistory_NotificationNoRead： <a id="weidu_num1" data-bind="text:totalNotifiNoRead"></a></span>
            <p>@Resource.TransactionHistory_NoteNotification</p>
        </div>
        <div class="xiaoxi-zhongxin xiaoxi-box rs" id="notifiView">

            <div class="zichan-zijin zichan-box rs">
                <table border="1" cellspacing="1" cellpadding="1">
                    <thead>
                    <tr>
                        <th style="width: 30px !important;">#</th>
                        <th> @Resource.TransactionHistory_Title</th>
                        <th> @Resource.TransactionHistory_Time </th>
                        <th> @Resource.TransactionHistory_Content </th>
                        <th> @Resource.Order_Status</th>
                    </tr>
                    </thead>

                    <tbody data-bind="template: { name: 'ListNoti', foreach: listAllNotification },css: isRending() === true? '' : 'display-none'"
                           class="display-none"></tbody>
                    <tfoot data-bind="if: listAllNotification().length == 0" class="dingdan-content-non">
                    <tr>
                        <td colspan="8">@Resource.RequestsPayment_NoData</td>
                    </tr>
                    </tfoot>
                </table>

                <div data-bind="css: isRendingPage() === true? 'display-none' : ''" class="rs loading-acc">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw red-color"></i>
                    <span class="sr-only">Loading...</span>
                </div>

               


                <form class="rs mg-bottom-20">
                    <div data-bind="if: listAllNotification().length > 0" class="mg-t-15 rs">
                        <div data-bind="html: pageTitle" class="pull-left"></div>

                        <ul class="pagination no-margin pull-right">
                            <li data-bind="if: pageStart">
                                <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            <li data-bind="if: pageNext">
                                <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                            </li>
                            <!-- ko foreach: listPage -->
                            <li data-bind="css: Page === page ? 'active' :''  ">
                                <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                            </li>
                            <!-- /ko -->
                            <li data-bind="if: pagePrev">
                                <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                            </li>
                            <li data-bind="if: pageEnd">
                                <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>