<div class="box">
    <div class="box-header">
        <h3 class="box-title">Controlling risk orders (Missing / Excessed / Wrong Code)</h3>

        @*<a href="@Url.Action("OrderCreate")" type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add new</a>*@
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
                        <h4><i class="icon fa fa-warning"></i> Warning!</h4>
                        List showing Ship / Shipment Ids / Shipment Information errors when warehouse receipt from seller.<br />
                        1. Warehouse Department: Upon receipt of goods, Push information to order recheck the orders on this list of cases of missing / inaccurate / inaccurate goods.<br />
                        2. Ordering Department: Check with the shop for information about goods, bill of lading, .. And update the list to warehouse receipt.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="tabbable page-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#all-tasks" data-toggle="tab">All<span class="label label-danger">100</span></a></li>
                <li><a href="#active" data-toggle="tab">nhaphangtrungquoc.com<span class="label label-primary">5</span></a></li>
                <li><a href="#closed" data-toggle="tab">orderhangkinhdoanh.com<span class="label label-primary">30</span></a></li>
                <li><a href="#active" data-toggle="tab">timnguonhanggiare.com<span class="label label-primary">5</span></a></li>
            </ul>
            <div class="tab-content">
                <!-- First tab -->
                <div class="tab-pane active fade in" id="all-tasks">
                    <!-- Tasks table -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Code order</th>
                                    <th class="text-center">Created Date</th>
                                    <th class="text-center">Value (Currency)</th>
                                    <th class="text-center">Number of bill of lading</th>
                                    <th class="text-center">Customer information</th>
                                    <th class="text-center" style="color:red">(Package) has come to the warehouse</th>
                                    <th class="text-center">Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("OrderEdit","Purchase")"><strong>ORD010012012</strong></a>
                                    </td>
                                    <td class="text-center"><i class="fa fa-clock-o"></i> 1 hours ago</td>
                                    <td class="text-center">100.000.000 đ</td>
                                    <td class="text-center">05</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("")"><strong>Nguyễn Văn Anh</strong></a>
                                    </td>
                                    <td class="text-center">
                                        02/04 (the lawsuit has returned to the warehouse)
                                    </td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                        <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete  </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("OrderEdit","Purchase")"><strong>ORD010012012</strong></a>
                                    </td>
                                    <td class="text-center"><i class="fa fa-clock-o"></i> 12 hours ago</td>
                                    <td class="text-center">250.000.000 đ</td>
                                    <td class="text-center">05</td>
                                    <td class="text-center">
                                        <a href="@Url.Action("")"><strong>Nguyễn Văn Anh</strong></a>
                                    </td>
                                    <td class="text-center">
                                        02/04 (the lawsuit has returned to the warehouse)
                                    </td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-sm btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                        <a href="#" class="btn btn-sm btn-danger btn-xs"><i class="fa fa-trash"></i> Delete  </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /first tab -->
                <!-- Second tab -->
                <div class="tab-pane fade" id="active">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /second tab -->
                <!-- Third tab -->
                <div class="tab-pane fade" id="closed">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /tasks table -->
                </div>
                <!-- /third tab -->
            </div>
        </div>
        <!-- /page tabs -->
    </div>
    <!-- /.box-body -->
</div>

