
@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Html.Partial("_Header2")
}
@section styles
 {
    <link href="~/Content/css/default.min.vs1.3.3.css" rel="stylesheet" />

}

@section scripts{
    <script type="text/javascript">
        $('.tool-list-mobile #btn-toollist').click(function () {
            $('.tool-list-mobile #mob-toollist-content').slideToggle(200);
            $(this).toggleClass('active');
        });
        $('.tool-list-mobile #mob-toollist-content, .tool-list-mobile #btn-toollist').click(function (e) { e.stopPropagation(); });
        $(document).click(function () {
            $('.tool-list-mobile #mob-toollist-content').hide();
            $('.tool-list-mobile #btn-toollist').removeClass('active');
        });
    </script>

    <script type="text/javascript">

        $(function () {
            $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function () {
                $(this).delay(50);
                $(".tool-content .container").addClass('absh').animate({
                    opacity: 1.0, left: '0'
                }, 500, function () {
                    $(this).delay(10).removeClass('absh');
                });
            });
        });
    </script>
}

<section class="tool-list">
    <div class="container">
        <div class="tool-list-mobile hidden-md hidden-sm hidden-lg invisible-xs">
            <a href="javascript:void(0);" id="btn-toollist">Tính năng nổi bật</a>
            <div class="tool-list-mobile-nav" id="mob-toollist-content" style="display: none;">
                <ul class="list-unstyled">
                    <li class=""><a href="@Url.Action("SalientFeatures","Home")"><span>Tính năng nổi bật</span></a></li>
                    <li class=""><a href="@Url.Action("SellBest","Home")"><span>Web bán hàng ưu việt</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerStore","Home")"><span>Quản lý cửa hàng</span></a></li>
                    <li class="current"><a href="@Url.Action("CustomTheme","Home")"><span>Tùy chỉnh giao diện</span></a></li>
                    <li class=""><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing &amp; SEO</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerProduct","Home")"><span>Quản lý sản phẩm</span></a></li>
                    <li class=""><a href="@Url.Action("Security","Home")"><span>Mạnh mẽ &amp; Bảo mật</span></a></li>

                </ul>
            </div>
        </div>

        <div class="tool-list-content hidden-xs">
            <div id="owl-tool" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2282px; left:0; display: block;">
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("SalientFeatures","Home")"><span>Tính năng</span><br>nổi bật</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("SellBest","Home")"><span>Web bán hàng</span><br>ưu việt</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("ManagerStore","Home")"><span>Quản lý</span><br>cửa hàng</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool current">
                                <a href="@Url.Action("CustomTheme","Home")"><span>Tùy chỉnh</span><br>giao diện</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("MarketingSeo","Home")"><span>Marketing</span><br>&amp; SEO</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("ManagerProduct","Home")"><span>Quản lý</span><br>sản phẩm</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("Security","Home")"><span>Mạnh mẽ </span><br>&amp; Bảo mật</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable" style="display: none;">
                    <div class="owl-pagination">

                        <div class="owl-page active"><span class=""></span></div>
                    </div>
                </div>
            </div>
            <div class="customNavigation visible-sm-block">
                <a class="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>
</section>
<section class="tool-content">
    <div class="container" style="opacity: 1; left:0;">
        <div class="tool-content-title">
            <h1>Quản lý sản phẩm thông minh và linh hoạt</h1>
            <p>Hơn cả 1 website thông thường</p>
            <p>Bizweb còn là 1 hệ thống quản lý sản phẩm mà bạn mong muốn</p>
        </div>
        <div class="tool-content-info tool-page-5">
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab5-1.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Thông tin sản phẩm<br> đầy đủ, rõ ràng</h2>
                        <p>Bạn có thể đăng sản phẩm thật nhanh chóng với những thông tin cơ bản như: Tên, giá, mô tả sản phẩm hay tạo những cấu hình cao cấp hơn như: Thiết lập tùy chọn, quản lý kho hàng, SEO… Tất cả yêu cầu đều được đáp ứng giúp việc quản lý sản phẩm của bạn trở nên dễ dàng nhất</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab5-2.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Trình bày sản phẩm<br> thu hút</h2>
                        <p>Sản phẩm được trình bày bắt mắt, thông tin về sản phẩm được bố trí rõ ràng, thông tin các chương trình khuyến mãi cũng được đặt ở vị trí dễ nhìn giúp khách hàng cảm thấy tin tưởng và kích thích đặt mua hàng.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab5-3.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Nhập xuất<br> danh sách sản phẩm</h2>
                        <p>Bạn có thể nhập/ xuất danh sách sản phẩm nhanh chóng với Bizweb, Chỉ cần vài thao tác là bạn đã có thể đăng lên cùng lúc hàng nghìn sản phẩm hay xuất danh sách các sản phẩm trên hệ thống để lưu trữ quản lý 1 cách nhanh chóng.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab5-4.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Quản lý<br>danh mục sản phẩm</h2>
                        <p>Bạn có thể sắp xếp và quản lý sản phẩm theo danh mục, tag, loại sản phẩm…. Danh mục sản phẩm tự động sẽ giúp bạn quản lý sản phẩm theo những tiêu chí bạn đặt ra</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab5-5.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Quản lý<br> kho hàng</h2>
                        <p>Quản lý số lượng kho hàng trong kho, tự động cập nhật số lượng sản phẩm trong kho hàng khi có đơn hàng. Bạn có thể dễ dàng theo dõi việc kinh doanh và điều chỉnh việc nhập hàng mới.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab5-5.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Tùy chỉnh,<br>hỗ trợ SEO</h2>
                        <p>Bạn có thể tùy chỉnh các thẻ mô tả, tiêu đề, tag, đường dẫn URL của sản phẩm để hỗ trợ SEO tốt hơn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="index-registration quick-registration new-registration">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 bottom-registration text-center">
            <h3 class="text-large text-center">Hơn 23,000 doanh nghiệp và chủ shop đang bán hàng như thế nào?</h3>
            <span>
                Đăng ký dùng thử miễn phí 15 ngày để khám phá
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <input style="font-weight : 300;" id="site_name_bottom" class="input-site-name hidden-xs" type="text" value="" placeholder="Nhập tên cửa hàng/doanh nghiệp của bạn" onkeypress="return onInputStoreName(event, this)">
            <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Dùng thử miễn phí</a>
        </div>
    </div>
</div>



