
@{
    ViewBag.Title = "MarketingSeo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Html.Partial("_Header2")
}
@section styles
 {
    <link href="~/Content/css/default.min.vs1.3.3.css" rel="stylesheet" />

}

@section scripts{
    <script type="text/javascript">
        $('.tool-list-mobile #btn-toollist').click(function () {
            $('.tool-list-mobile #mob-toollist-content').slideToggle(200);
            $(this).toggleClass('active');
        });
        $('.tool-list-mobile #mob-toollist-content, .tool-list-mobile #btn-toollist').click(function (e) { e.stopPropagation(); });
        $(document).click(function () {
            $('.tool-list-mobile #mob-toollist-content').hide();
            $('.tool-list-mobile #btn-toollist').removeClass('active');
        });
    </script>

    <script type="text/javascript">

        $(function () {
            $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function () {
                $(this).delay(50);
                $(".tool-content .container").addClass('absh').animate({
                    opacity: 1.0, left: '0'
                }, 500, function () {
                    $(this).delay(10).removeClass('absh');
                });
            });
        });
    </script>
}
<section class="tool-list">
    <div class="container">
        <div class="tool-list-mobile hidden-md hidden-sm hidden-lg invisible-xs">
            <a href="javascript:void(0);" id="btn-toollist">Tính năng nổi bật</a>
            <div class="tool-list-mobile-nav" id="mob-toollist-content" style="display: none;">
                <ul class="list-unstyled">
                    <li class=""><a href="@Url.Action("SalientFeatures","Home")"><span>Tính năng nổi bật</span></a></li>
                    <li class=""><a href="@Url.Action("SellBest","Home")"><span>Web bán hàng ưu việt</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerStore","Home")"><span>Quản lý cửa hàng</span></a></li>
                    <li class="current"><a href="@Url.Action("CustomTheme","Home")"><span>Tùy chỉnh giao diện</span></a></li>
                    <li class=""><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing &amp; SEO</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerProduct","Home")"><span>Quản lý sản phẩm</span></a></li>
                    <li class=""><a href="@Url.Action("Security","Home")"><span>Mạnh mẽ &amp; Bảo mật</span></a></li>

                </ul>
            </div>
        </div>

        <div class="tool-list-content hidden-xs">
            <div id="owl-tool" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 2282px; left:0; display: block;">
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("SalientFeatures","Home")"><span>Tính năng</span><br>nổi bật</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("SellBest","Home")"><span>Web bán hàng</span><br>ưu việt</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("ManagerStore","Home")"><span>Quản lý</span><br>cửa hàng</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool current">
                                <a href="@Url.Action("CustomTheme","Home")"><span>Tùy chỉnh</span><br>giao diện</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("MarketingSeo","Home")"><span>Marketing</span><br>&amp; SEO</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("ManagerProduct","Home")"><span>Quản lý</span><br>sản phẩm</a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 163px;">
                            <div class="items-tool ">
                                <a href="@Url.Action("Security","Home")"><span>Mạnh mẽ </span><br>&amp; Bảo mật</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable" style="display: none;">
                    <div class="owl-pagination">

                        <div class="owl-page active"><span class=""></span></div>
                    </div>
                </div>
            </div>
            <div class="customNavigation visible-sm-block">
                <a class="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>
</section>

<section class="tool-content">
    <div class="container" style="opacity: 1; left:0;">
        <div class="tool-content-title">
            <h1>Công cụ Marketing hiệu quả</h1>
            <p>Công cụ marketing mạnh mẽ giúp việc quảng bá sản phẩm</p>
            <p>trở nên dễ dàng và mang lại hiệu quả cao</p>
        </div>
        <div class="tool-content-info tool-page-1">
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab1-1.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Nền tảng vững chắc<br> để đưa website lên top
                        </h2>
                        <p>Bizweb giúp bạn xây dựng nền tảng để đưa website lên top trên các trang công cụ tìm kiếm như Google, Yahoo, Bing… Tối ưu hóa trang web thật dễ dàng. Tùy chỉnh các thẻ meta title, tag, mô tả, URL của trang Bổ sung thẻ alt cho hình ảnh Tối ưu hóa theo chủ đề SEO Xây dựng liên kết thân thiện với các bộ máy tìm kiếm</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab1-2.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Đầy đủ<br> Công cụ hỗ trợ
                        </h2>
                        <p>Để đưa từ khóa lên top 1 không phải là 1 điều đơn giản nhưng cũng không có nghĩa bạn phải là 1 chuyên gia SEO mới có thể làm được. Chúng tôi cung cấp cho bạn đầy đủ công cụ để bạn có thể tự đưa website của mình lên top một cách dễ dàng</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab1-3.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Tự động<br> tạo sitemap.xml
                        </h2>
                        <p>Tự động tạo sẵn file sitemap.xml bao gồm: sản phẩm, nhóm sản phẩm, blog, trang nội dung</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab1-4.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Đánh giá<br> sản phẩm
                        </h2>
                        <p>Đối với khách hàng, còn gì đáng tin hơn chính những nhận xét của người mua trước về sản phẩm họ định mua. Với tính năng đánh giá sản phẩm, bạn có thể khuyến khích khách hàng để lại đánh giá cho sản phẩm của mình và nó cũng hỗ trợ SEO tốt hơn.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab1-5.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Email marketing</h2>
                        <p>Việc thu thập thông tin khách hàng, liên hệ và chăm sóc khách hàng định kỳ thường xuyên là vô cùng quan trọng đối với doanh nghiệp trong công cuộc gia tăng khách hàng. Bizweb hỗ trợ bạn gửi email marketing qua các dịch vụ uy tín lớn như Mailchimp, Sendgrid... giúp bạn tiếp cận khách hàng tiềm năng dễ dàng.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab1-6.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">

                        <h2>Bán hàng<br> trên facebook
                        </h2>
                        <p>Khi bạn là khách hàng của Bizweb, chỉ bằng một vài thao tác đơn giản, bạn sẽ nhanh chóng có ngay một ‘gian hàng’ trên chính Fanpage ‘nhộn nhịp’ của mình. Khách hàng của bạn vừa có thể tương tác hỏi đáp trên fanpage, vừa có thể ghé thăm Shop của bạn một cách dễ dàng, tiện lợi.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab1-7.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>Chương trình<br> khuyến mại và coupon
                        </h2>
                        <p>Đối với hầu hết khách hàng thì việc nhận được những món quà sau khi mua hàng đều khiến họ thích thú và nhớ đến cửa hàng của bạn. Bởi vậy, các chương trình khuyến mại, tặng mã coupon dành cho khách hàng luôn được các công ty, cửa hàng áp dụng triệt để nhằm làm hài lòng cũng như tạo dựng được mạng lưới khách hàng thân thiết. Bizweb cung cấp cho bạn công cụ hỗ trợ thiết lập và quản lý các chương trình khuyến mại được nhanh chóng và thuận tiện nhất.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="index-registration quick-registration new-registration">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 bottom-registration text-center">
            <h3 class="text-large text-center">Hơn 23,000 doanh nghiệp và chủ shop đang bán hàng như thế nào?</h3>
            <span>
                Đăng ký dùng thử miễn phí 15 ngày để khám phá
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            <input style="font-weight : 300;" id="site_name_bottom" class="input-site-name hidden-xs" type="text" value="" placeholder="Nhập tên cửa hàng/doanh nghiệp của bạn" onkeypress="return onInputStoreName(event, this)">
            <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Dùng thử miễn phí</a>
        </div>
    </div>
</div>



