
@{
    ViewBag.Title = "รักษาความปลอดภัยอย่างมันคง";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Html.Partial("_Header2")
}
@section styles
 {
    <link href="~/Content/css/default.min.vs1.3.3.css" rel="stylesheet" />

}





@section scripts{
    <script type="text/javascript">
        $('.tool-list-mobile #btn-toollist').click(function () {
            $('.tool-list-mobile #mob-toollist-content').slideToggle(200);
            $(this).toggleClass('active');
        });
        $('.tool-list-mobile #mob-toollist-content, .tool-list-mobile #btn-toollist').click(function (e) { e.stopPropagation(); });
        $(document).click(function () {
            $('.tool-list-mobile #mob-toollist-content').hide();
            $('.tool-list-mobile #btn-toollist').removeClass('active');
        });
    </script>

    <script type="text/javascript">

        $(function () {
            $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function () {
                $(this).delay(50);
                $(".tool-content .container").addClass('absh').animate({
                    opacity: 1.0,
                    left: '0'
                }, 500, function () {
                    $(this).delay(10).removeClass('absh');
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            var owl = $("#owl-tool");
            owl.owlCarousel({
                items: 7,
                itemsDesktop: [1000, 7],
                itemsDesktopSmall: [992, 5],
                itemsTablet: [768, 5],
                itemsMobile: false
            });
            $(".next").click(function () {
                owl.trigger('owl.next');
            })
            $(".prev").click(function () {
                owl.trigger('owl.prev');
            });
        });
        $(function () {
            $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function () {
                $(this).delay(50);
                $(".tool-content .container").addClass('absh').animate({
                    opacity: 1.0, left: '0'
                }, 500, function () {
                    $(this).delay(10).removeClass('absh');
                });
            });
        });
    </script>
}
<section class="tool-list">
    <div class="container">
        <div class="tool-list-mobile hidden-md hidden-sm hidden-lg invisible-xs">
            <a href="javascript:void(0);" id="btn-toollist">Tính năng nổi bật</a>
            <div class="tool-list-mobile-nav" id="mob-toollist-content" style="display: none;">
                <ul class="list-unstyled">
                    <li class=""><a href="@Url.Action("SalientFeatures","Home")"><span>ฟังก์ชันเด่นๆ</span></a></li>
                    <li class=""><a href="@Url.Action("SellBest","Home")"><span>เว็บไซต์ขายสินค้ายอดเยี่ยม</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerStore","Home")"><span>จัดการร้านค้า</span></a></li>
                    <li class=""><a href="@Url.Action("CustomTheme","Home")"><span>การกำหนดลักษณะอินเตอร์เฟซ</span></a></li>
                    <li class=""><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing &amp; SEO</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerProduct","Home")"><span>จัดการสินค้า</span></a></li>
                    <li class="current"><a href="@Url.Action("Security","Home")"><span>รักษาความปลอดภัยอย่างมันคง</span></a></li>

                </ul>
            </div>
        </div>

        <div class="tool-list-content hidden-xs">
            <div id="owl-tool" class="owl-carousel owl-theme">
                <div class="items-tool "><a href="@Url.Action("SalientFeatures","Home")"><span>ฟังก์ชันเด่นๆ</span></a></div>
                <div class="items-tool "><a href="@Url.Action("SellBest","Home")"><span>เว็บไซต์ขายสินค้ายอดเยี่ยม</span></a></div>
                <div class="items-tool "><a href="@Url.Action("ManagerStore","Home")"><span>จัดการร้านค้า</span></a></div>
                <div class="items-tool "><a href="@Url.Action("CustomTheme","Home")"><span>การกำหนดลักษณะอินเตอร์เฟซ</span></a></div>
                <div class="items-tool "><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing</span><br>&amp; SEO</a></div>
                <div class="items-tool "><a href="@Url.Action("ManagerProduct","Home")"><span>จัดการสินค้า</span></a></div>
                <div class="items-tool current"><a href="@Url.Action("Security","Home")"><span>รักษาความปลอดภัยอย่างมันคง</span></a></div>

            </div>
            <div class="customNavigation visible-sm-block">
                <a class="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>
</section>

<section class="tool-content">
    <div class="container" style="opacity: 1; left: 0;">
        <div class="tool-content-title">
            <h1>พื้นฐานระะบบเว็บไซต์มันคง</h1>
            <p>เว็บไซต์ดำเนินงานอย่างมันคง</p>
            <p>ความเร็วในการเข้าสู่ระบบได้ดีและรักษาความปลอดภัยอย่างมันคง</p>
        </div>
        <div class="tool-content-info tool-page-2">
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img">
                        <img src="/Content/images/func/tab2-1.jpg" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">

                        <h2>ไม่จำกัด<br>แบนด์วิชท์</h2>
                        <p>Eziwebshop ให้คุณเว็บไซต์มีความเร็วในการใช้งานและแบนด์วิชท์ไม่จำกัด คุณจะไม่ต้องกังวลเรื่องต้องจ่ายเพิ่มเงินเพื่อได้แบนด์วิชท์เพิ่ม</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab2-2.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>ระบบเซร์ฟเวอร์<br>มันคง</h2>
                        <p>Eziwebshop มีระบบเซร์ฟเวอร์มันคง ทำให้เว็บไซต์ของคุณได้ใช้งานดีตลอดและข้อมูลได้รับการรักษาความปลอดภัยอย่างสูงสุด</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab2-3.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">
                        <h2>ใบรับรอง SSL</h2>
                        <p>เว็บไซต์ของคุณได้มี SSLเพื่อรักษาความปลอดภัยของข้อมูล.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab2-4.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>การสำรองข้อมูลตลอด</h2>
                        <p>ระบบของเราทำการสำรองข้อมูลทุกวัน เพื่อความมันใจว่าจะไม่เกิดปัญหาอะไรกับเว็บของคุณ</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="/Content/images/func/tab2-5.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">
                        <h2>อัพเดทฟังก์ชัน<br>อัตโนมัติ</h2>
                        <p>เว็บไซต์ของคุณจะได้อัตโนมัติอัพเดทฟังก์ชันใหม่ๆ เพื่อให้คุณได้ใช้เว็บไซต์อย่างสดวกที่สุดเมื่อใช้ Eziwebshop</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="/Content/images/func/tab2-6.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>ระบบการทำงาน<br>มันคงและได้รับการช่วยเหลือ24/7</h2>
                        <p>ด้วย Eziwebshop คุณจะมีทีมเจ้าหน้าที่ไอทีคอยติดตามเพื่อการช่วยเหลือตลอด 24 ชั่วโมง ทำให้เว็บไซต์ได้ทำงานอย่างมันคงและพร้อมที่จะช่วยเหลือตลอดเวลา</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="index-registration quick-registration new-registration">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 bottom-registration text-center">
            <h3 class="text-large text-center">ทำยังไงให้เพิ่มยอดขายได้ ?</h3>
            <span>
                สมัครรับเว็บไซต์ขายสินค้าฟรีตอนนี้
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            @*<a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Đăng ký ngay</a>*@
            <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">สมัครตอนนี้</a>
        </div>
    </div>
</div>



