
@{
    ViewBag.Title = "เว็บไซต์ขายสินค้ายอดเยี่ยม";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    @Html.Partial("_Header2")
}
@section styles
 {
    <link href="~/Content/css/default.min.vs1.3.3.css" rel="stylesheet" />

}
 <section class="tool-list">
    <div class="container">
        <div class="tool-list-mobile hidden-md hidden-sm hidden-lg invisible-xs">
            <a href="javascript:void(0);" id="btn-toollist">Tính năng nổi bật</a>
            <div class="tool-list-mobile-nav" id="mob-toollist-content" style="display: none;">
                <ul class="list-unstyled">
                    <li class=""><a href="@Url.Action("SalientFeatures","Home")"><span>ฟังก์ชันเด่นๆ</span></a></li>
                    <li class="current"><a href="@Url.Action("SellBest","Home")"><span>เว็บไซต์ขายสินค้ายอดเยี่ยม</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerStore","Home")"><span>จัดการร้านค้า</span></a></li>
                    <li class=""><a href="@Url.Action("CustomTheme","Home")"><span>การกำหนดลักษณะอินเตอร์เฟซ</span></a></li>
                    <li class=""><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing &amp; SEO</span></a></li>
                    <li class=""><a href="@Url.Action("ManagerProduct","Home")"><span>จัดการสินค้า</span></a></li>
                    <li class=""><a href="@Url.Action("Security","Home")"><span>รักษาความปลอดภัยอย่างมันคง</span></a></li>

                </ul>
            </div>
        </div>

        <div class="tool-list-content hidden-xs">
            <div id="owl-tool" class="owl-carousel owl-theme">
                <div class="items-tool "><a href="@Url.Action("SalientFeatures","Home")"><span>ฟังก์ชันเด่นๆ</span></a></div>
                <div class="items-tool current"><a href="@Url.Action("SellBest","Home")"><span>เว็บไซต์ขายสินค้ายอดเยี่ยม</span></a></div>
                <div class="items-tool "><a href="@Url.Action("ManagerStore","Home")"><span>จัดการร้านค้า</span></a></div>
                <div class="items-tool "><a href="@Url.Action("CustomTheme","Home")"><span>การกำหนดลักษณะอินเตอร์เฟซ</span></a></div>
                <div class="items-tool "><a href="@Url.Action("MarketingSeo","Home")"><span>Marketing</span><br>&amp; SEO</a></div>
                <div class="items-tool "><a href="@Url.Action("ManagerProduct","Home")"><span>จัดการสินค้า</span></a></div>
                <div class="items-tool "><a href="@Url.Action("Security","Home")"><span>รักษาความปลอดภัยอย่างมันคง</span></a></div>

            </div>
            <div class="customNavigation visible-sm-block">
                <a class="prev"><i class="fa fa-angle-left"></i></a>
                <a class="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>
</section>

<section class="tool-content">
    <div class="container" style="opacity: 1; left:0;">
        <div class="tool-content-title">
            <h1>เว็บไซต์ขายสินค้ายอดเยี่ยม</h1>
            <p>ช่วยให้ยอดขายของคุณจะเพิ่มขึ้นอย่างรวดเร็ว</p>
        </div>
        <div class="tool-content-info tool-page-7">
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="~/Content/images/func/tab7-1.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">
                        <h2>เวลา<br>สร้างเว็บไชต์อย่างรวดเร็ว</h2>
                        <p>แค่ใช้เวลาหนึ่งนาทีใส่ข้อมูลและเสียไม่กี่คลิก คุณลูกค้าก็จะได้เป็นเจ้าของของเว็บไชต์ด้วยครบทั้งหมดฟังก์ชันคุณสามารถเริ่มทำธุรกิจทันที่โดยไม่ต้องการเสียเวลามากมายEziwebshopจะช่วยคุณได้!</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="~/Content/images/func/tab7-2.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>อินเตอร์เฟซเว็บไชต์<br>ดูเชี่ยวชาญและสวยงาม</h2>
                        <p>ด้วยสต็อกอินเตอร์เฟซได้รับการออกแบบจากผู้เชี่ยวชาญเก่งที่สุด มีประสบการมากมายในทางด้านอีคอมเมิร์ซจากทางเรา คุณลูกค้าจะไม่ต้องเสียเวลาในการสร้างแนวคิดการออกแบบหรือสร้างอินเตอร์เฟซด้วยการเลือกอย่างรวดเร็ว เว็บไชต์ของคุณจะได้มีอินเตอร์เฟซสวยงาม ดูเชี่ยวชาญ และสมบูรณ์แบบ.</p>
                        <a href="/">ดูเพิ่มเติมสต็อกอินเตอร์เฟซ<i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="~/Content/images/func/tab7-3.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">
                        <h2>ระบบจัดการ<br>สินค้ากับออเดอร์</h2>
                        <p>Eziwebshop ไม่ใช่แค่ให้คุณหนึ่งเว็บไชต์มีอินเตอร์เฟซสวยๆ แต่ยังให้คุณระบบจัดการสินค้า ออเดอร์ ดูแลลูกค้าและข้อมูลทั้งหมดเกี่ยวกับร้าค้าของคุณคุณไม่ต้องเป็นผู้เชี่ยวชาญทางด้านเทคโนโลยีแต่ยังสามารถจัดการเว็บไชต์ของตัวเองได้ดี.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="~/Content/images/func/tab7-4.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>ดึงดูดใจลูกค้า<br>ทีทุกอุปกรณ์เทคโนโลยี</h2>
                        <p>จำนวนคนใช้สมาร์ทโฟนกำลังเพิ่มขึ้นทุกวัน ก็แสดงว่าคุณไม่ควรพลาดวิธีเข้าถึงลูกค้าผ่านสมาร์ทโฟน Eziwebshop ให้ครบทั้งหมดฟังก์ชันเพื่อเว็บไชต์ของคุณสวยงามเสมอทีทุกอุปกรณ์เทคโนโลยี ช่วยให้คุณขายสินค้าได้ทุกที่!</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6">
                    <div class="info-img"><img src="~/Content/images/func/tab7-5.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6">
                    <div class="content-info">
                        <h2>ยก<br>ระดับแบรนด์ของคุณ</h2>
                        <p>ทำให้ลูกค้าประทับใจกับแบรนด์ของคุณเป็นสิ่งที่สำคัญที่สุดต่อนักธุรกิจทั้งหลาย คุณสามารถตั้งค่าชื่อโดเมนของต้นเองหรือซื้อชื่อโดเมนของ Eziwebshop คุณยังสามารถเลือกอินเตอร์เฟซ สี logo ฯ เพื่อให้ลูกค้าประทัยใจ.</p>
                    </div>
                </div>
            </div>
            <div class="row info">
                <div class="col-md-6 pull-right">
                    <div class="info-img"><img src="~/Content/images/func/tab7-6.jpg" class="img-responsive"></div>
                </div>
                <div class="col-md-6 pull-left">
                    <div class="content-info">
                        <h2>ทำให้เว็บไซต์สมบูรณ์แบบ<br>กับผู้เชี่ยวชาญ</h2>
                        <p>คุณกำลังกังวลเพราะตัวเองไม่มีความรู้เกี่ยวกับเทคโนโลยี?<br>คุุณกลัวว่าตัวเองไม่สามารถออกแบบเว็บไซต์ให้สวยงาม ?<br>ผู้เชี่ยวชาญของทางเราพร้อมที่จะช่วยคุณในทุกด้าน.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="index-registration quick-registration new-registration">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 bottom-registration text-center">
            <h3 class="text-large text-center">ทำยังไงให้เพิ่มยอดขายได้ ?</h3>
            <span>
                สมัครรับเว็บไซต์ขายสินค้าฟรีตอนนี้
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
            @*<a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" onclick="openCreateStorePopup(this);" href="javascript:;">Đăng ký ngay</a>*@
            <a class="btn-registration banner-home-registration event-Bizweb-Free-Trial-form-open" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">สมัครตอนนี้</a>
        </div>
    </div>
</div>


 @section scripts{
    <script type="text/javascript">
        $('.tool-list-mobile #btn-toollist').click(function() {
            $('.tool-list-mobile #mob-toollist-content').slideToggle(200);
            $(this).toggleClass('active');
        });
        $('.tool-list-mobile #mob-toollist-content, .tool-list-mobile #btn-toollist').click(function(e) { e.stopPropagation(); });
        $(document).click(function() {
            $('.tool-list-mobile #mob-toollist-content').hide();
            $('.tool-list-mobile #btn-toollist').removeClass('active');
        });
    </script>

    <script type="text/javascript">

        $(function() {
            $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function() {
                $(this).delay(50);
                $(".tool-content .container").addClass('absh').animate({
                    opacity: 1.0,
                    left: '0'
                }, 500, function() {
                    $(this).delay(10).removeClass('absh');
                });
            });
        });
    </script>

    <script type="text/javascript">
            $(function () {
                var owl = $("#owl-tool");
                owl.owlCarousel({
                    items: 7,
                    itemsDesktop: [1000, 7],
                    itemsDesktopSmall: [992, 5],
                    itemsTablet: [768, 5],
                    itemsMobile: false
                });
                $(".next").click(function () {
                    owl.trigger('owl.next');
                })
                $(".prev").click(function () {
                    owl.trigger('owl.prev');
                });
            });
            $(function () {
                $(".tool-content .container").addClass('absh').animate({ opacity: 0.0, left: '-100px' }, 100, function () {
                    $(this).delay(50);
                    $(".tool-content .container").addClass('absh').animate({
                        opacity: 1.0, left: '0'
                    }, 500, function () {
                        $(this).delay(10).removeClass('absh');
                    });
                });
            });
    </script>
}
