@model CategoryMeta

@{
    ViewBag.Title = "Add new category";
}

<script>
    var categoryTree = @Html.Raw(ViewBag.CategoryTree);
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add new category
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("Index")">List of categories</a></li>
        <li class="active">Add new category</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <form action="@Url.Action("Create")" method="post" class="form-horizontal" id="submitForm">
            @Html.AntiForgeryToken()
            <div class="box-body">
                @Html.Partial("_Update", Model)
            </div>
            <div class="box-footer">
                <a href="@Url.Action("Index")" role="button" class="btn btn-default"><i class="fa fa-arrow-left"></i>Back to list</a>
                <button type="button" class="btn btn-info pull-right" onclick="submitForm()"><i class="fa fa-plus"></i>Add categories</button>
            </div>
        </form> 
    </div>
</section>