@model Common.Items.PageInfor
@if (Model != null)
{
    double totalPage;
    {
        totalPage = (Model.Total % Model.PageSize) > 0.0 ? Model.Total / Model.PageSize + 1 : Model.Total / Model.PageSize;
    }
    <ul class="pagination">
        @if (Model.Total > Model.PageSize)
        {
            if (totalPage < 6)
            {
                for (var i = 1; i <= totalPage; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <li class="active"><a href="javascript:void(0)" class="active">@i</a></li>
                    }
                    else
                    {
                        <li><a href="javascript:void(0)" onclick="LoadListItems('@i') ">@i</a></li>
                    }
                }
            }
            else
            {
                if (Model.CurrentPage < totalPage - 4)
                {
                    if (Model.CurrentPage >= 5)
                    {
                        <li class="first"><a href="javascript:void(0)" onclick="LoadListItems('1') "><<</a></li>
                        <li class="prev"><a href="javascript:void(0)" onclick="LoadListItems('@string.Format("{0}", Model.CurrentPage - 1)')"><</a></li>
                        for (var i = Model.CurrentPage - 2; i < Model.CurrentPage + 3; i++)
                        {
                            if (Model.CurrentPage == i)
                            {
                                <li class="active"><a href="javascript:void(0)" class="active">@i</a></li>
                            }
                            else
                            {
                                <li><a href="javascript:void(0)" onclick="LoadListItems('@i') ">@i</a></li>
                            }
                        }
                        <li class="next"><a href="javascript:void(0)" onclick="LoadListItems('@string.Format("{0}",Model.CurrentPage + 1)')">></a></li>
                        <li class="last"><a href="javascript:void(0)" onclick="LoadListItems('@totalPage') ">>></a></li>
                    }
                    else
                    {
                        <li class="first disabled"><a href="javascript:void(0)"><<</a></li>
                        <li class="prev disabled"><a href="javascript:void(0)"><</a></li>
                        for (var i = 1; i < 6; i++)
                        {
                            if (Model.CurrentPage == i)
                            {
                                <li class="active"><a href="javascript:void(0)" class="active">@i</a></li>
                            }
                            else
                            {
                                <li><a href="javascript:void(0)" onclick="LoadListItems('@i') ">@i</a></li>
                            }
                        }
                        <li class="next"><a href="javascript:void(0)" onclick="LoadListItems('@string.Format("{0}",Model.CurrentPage + 1)') ">></a></li>
                        <li class="last"><a href="javascript:void(0)" onclick="LoadListItems('@totalPage') ">>></a></li>
                    }
                }
                else
                {
                    <li class="first"><a href="javascript:void(0)" onclick="LoadListItems('1')"><<</a></li>
                    <li class="prev"><a href="javascript:void(0)" onclick="LoadListItems('@string.Format("{0}",Model.CurrentPage - 1)')"><</a></li>
                    for (var j = totalPage - 5; j <= totalPage; j++)
                    {
                        if (Model.CurrentPage == j)
                        {
                            <li class="active"><a href="javascript:void(0)" class="active">@j</a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void(0)" onclick="LoadListItems('@j')">@j</a></li>
                        }
                    }
                    <li class="next disabled"><a href="javascript:void(0)">></a></li>
                    <li class="last disabled"><a href="javascript:void(0)">>></a></li>
                }
            }
        }
    </ul>
}
