@model LayoutMeta

@{
    ViewBag.Title = string.Format("Update layout \"{0}\"", Model.Name);
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="#">Warehouse Toolbar Setting Warehouse</a></li>
        <li><a href="@Url.Action("Index")">List layout</a></li>
        <li class="active">Update layout</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <!-- /.box-header -->
        <!-- form start -->
        <form action="@Url.Action("Edit")" method="post" class="form-horizontal" id="frmSubmit">
            @Html.AntiForgeryToken()
            <div class="box-body">
                @Html.Partial("_Update", Model)
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="@Url.Action("Index")" role="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to list</a>
                <button type="button" class="btn btn-info pull-right" id="btnSubmit"><i class="fa fa-save"></i>Save</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>
