<div id="footer" class="footer">
    <div class="container-fluid">
        <div class="row border-last">
            <div class="container footer-links">
                <div class="hidden-xs hidden-sm">
                    <div class="col-xs-6 col-sm-3 col-md-3 row">
                        <h4>Eziwebshop.com</h4>
                        <ul>
                            <li>
                                <a href="#">เกี่ยวกับเรา</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SalientFeatures","Home")">คุณสมบัติที่โดดเด่น</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PriceList","Home")">อัตราค่าบริการ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WarehouseInterface","Home")">สต็อคอินเตอร์เฟซ</a>
                            </li>
                            <li>
                                <a href="#">สต็อคโปรแกรมประยุกต์ </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">โปรโมชั่น</a>
                            </li>
                            <li>
                                <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">โปรโมชั่น</a>
                            </li>
                        </ul>
                         
                    </div>
                    <div class="col-md-9">
                        <div class="row custom-row">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <h4>ช่องทางขาย</h4>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("DesignWebsite","Marketing")">ออกแบบเว็บไซต์ตัวอย่าง</a>
                                    </li>
                                    <li>
                                        <a href="#">ขายบน Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <h4>เกี่ยวกับเรา</h4>
                                <ul>
                                    <li>
                                        <a href="#">Eziwebshopคืออะไร</a>
                                    </li>
                                    <li>
                                        <a href="#">ความคิดเห็นของลูกค้า</a>
                                    </li>
                                    <li>
                                        <a href="#">หนังสือพิมพ์พูดถึงEziwebshop</a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="#">รับสมัคร</a>
                                    </li>
                                    <li>
                                        <a href="#">เงื่อนไขการใช้</a>
                                    </li>
                                    <li>
                                        <a href="#">นโยบายรักษาข้อมูล</a>
                                    </li>
                                </ul>
                                 
                            </div>
                            <div class="col-sm-3 col-md-3 hidden-xs">
                                <h4>บริการ</h4>
                        
                                <ul>
                                    <li>
                                        <a href="#">บริการ email</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">โฆษณาGoogle Adwords</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">ซอฟต์แวร์จัดการการขายสินค้า</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="#">อุปกรณ์ขายสินค้า</a>
                                    </li>
                                    <li>
                                        <a href="#">อุอกแบบเว็บใช้ได้ทุกประเภท</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 footer-col-margin">
                                <h4>ร่วมมือกัน</h4>
                                <ul>
                                    <li>
                                        <a href="#">โปรแกรมผู้เชี่ยวชาญ</a>
                                    </li>
                                    <li>
                                        <a href="#">โปรแกรมคู่ค้า</a>
                                    </li>

                                    <li>
                                        <a href="#">Affiliate คู่ค้า</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliate ลูกค้า</a>
                                    </li>
                                    <li>
                                        <a href="#">ผู้พัฒนาโปรแกรมประยุกต์</a>
                                    </li>
                                    <li>
                                        <a href="#">สำหรับผู้ออกแบบ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs hidden-lg hidden-md visible-sm">
                    <div class="col-sm-12 row" style="margin-bottom:25px;">
                        <div class="col-sm-4">
                            <h4>Eziwebshop.com</h4>
                            <ul>
                                <li>
                                    <a href="#">เกี่ยวกับเรา</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SalientFeatures","Home")">คุณสมบัติที่โดดเด่น</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PriceList","Home")">อัตราค่าบริการ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">สต็อคอินเตอร์เฟซ</a>
                                </li>
                                <li>
                                    <a href="#">สต็อคโปรแกรมประยุกต์ </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">โปรโมชั่น</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">โปรโมชั่น</a>
                                </li>
                            </ul>
                             
                        </div>
                        <div class="col-sm-4">
                            <h4>ช่องทางขาย</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("DesignWebsite","Marketing")">ออกแบบเว็บไซต์ตัวอย่าง</a>
                                </li>
                                <li>
                                    <a href="#">ขายบน Facebook</a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>เกี่ยวกับเรา</h4>
                            <ul>
                                <li>
                                    <a href="#">Eziwebshopคืออะไร</a>
                                </li>
                                <li>
                                    <a href="#">ความคิดเห็นของลูกค้า</a>
                                </li>
                                <li>
                                    <a href="#">หนังสือพิมพ์พูดถึงEziwebshop</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="#">รับสมัคร</a>
                                </li>
                                <li>
                                    <a href="#">เงื่อนไขการใช้</a>
                                </li>
                                <li>
                                    <a href="#">นโยบายรักษาข้อมูล</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:25px;">
                        <div class="col-sm-4">
                            <h4>บริการ</h4>
                            <ul>
                                <li>
                                    <a href="#">บริการ email</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">โฆษณาGoogle Adwords</a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">ซอฟต์แวร์จัดการการขายสินค้า</a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">อุปกรณ์ขายสินค้า</a>
                                </li>
                                <li>
                                    <a href="#">อุอกแบบเว็บใช้ได้ทุกประเภท</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>ร่วมมือกัน</h4>
                            <ul>
                                <li>
                                    <a href="#">โปรแกรมผู้เชี่ยวชาญ</a>
                                </li>
                                <li>
                                    <a href="#">โปรแกรมคู่ค้า</a>
                                </li>

                                <li>
                                    <a href="#">Affiliate คู่ค้า</a>
                                </li>
                                <li>
                                    <a href="#">Affiliate ลูกค้า</a>
                                </li>
                                <li>
                                    <a href="#">ผู้พัฒนาโปรแกรมประยุกต์</a>
                                </li>
                                <li>
                                    <a href="#">สำหรับผู้ออกแบบ</a>
                                </li>
                            </ul>
                        </div>
           
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix" style="border-bottom: solid thin #2b2a32;
    margin-bottom: 30px;">
                    <div class="col-xs-12 row" style="margin-bottom:25px;">
                        <div class="col-xs-6">
                            <h4>Eziwebshop.com</h4>
                            <ul>
                                <li>
                                    <a href="#">เกี่ยวกับเรา</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SalientFeatures","Home")">คุณสมบัติที่โดดเด่น</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PriceList","Home")">อัตราค่าบริการ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">สต็อคอินเตอร์เฟซ</a>
                                </li>
                                <li>
                                    <a href="#">สต็อคโปรแกรมประยุกต์ </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">โปรโมชั่น</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">โปรโมชั่น</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <h4>ช่องขายสินค้า</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("DesignWebsite","Marketing")">ออกแบบเว็บไซต์ขายสินค้า</a>
                                </li>
                                <li>
                                    <a href="#">ขายสินค้าที่Facebook</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix" style="border-bottom: solid thin #2b2a32;
    margin-bottom: 30px;">
                    <div class="col-xs-12 row" style="margin-bottom:25px;">
                        <div class="col-xs-6">
                            <h4>เกี่ยวกับเรา</h4>
                            <ul>
                                <li>
                                    <a href="#">Eziwebshopคืออะไร</a>
                                </li>
                                <li>
                                    <a href="#">ความคิดเห็นของลูกค้า</a>
                                </li>
                                <li>
                                    <a href="#">หนังสือพิมพ์พูดถึงEziwebshop</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="#">รับสมัคร</a>
                                </li>
                                <li>
                                    <a href="#">เงื่อนไขการใช้</a>
                                </li>
                                <li>
                                    <a href="#">นโยบายรักษาข้อมูล</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <h4>บริการ</h4>
                            <ul>
                                <li>
                                    <a href="#">บริการ email</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">โฆษณาGoogle Adwords</a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">ซอฟต์แวร์จัดการการขายสินค้า</a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">อุปกรณ์ขายสินค้า</a>
                                </li>
                                <li>
                                    <a href="#">อุอกแบบเว็บใช้ได้ทุกประเภท</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix">
                    <div class="col-xs-12 row">
                        <div class="col-xs-6">
                            <h4>ร่วมมือกัน</h4>
                            <ul>
                                <li>
                                    <a href="#">โปรแกรมผู้เชี่ยวชาญ</a>
                                </li>
                                <li>
                                    <a href="#">โปรแกรมคู่ค้า</a>
                                </li>

                                <li>
                                    <a href="#">Affiliate คู่ค้า</a>
                                </li>
                                <li>
                                    <a href="#">Affiliate ลูกค้า</a>
                                </li>
                                <li>
                                    <a href="#">ผู้พัฒนาโปรแกรมประยุกต์</a>
                                </li>
                                <li>
                                    <a href="#">สำหรับผู้ออกแบบ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-copyright hidden-sm hidden btn-xs visible-md visible-lg">
            <div class="container">
                <div class="col-md-12 row padding-copyright" style="text-align:center">
                    <span>© Copyright 2016 - 2017</span>
                </div>
            </div>
        </div>

        <div class="row footer-copyright hidden-md hidden-xs visible-sm">

            <hr style="margin-bottom:0;margin-top:0;border-bottom: solid thin #36353d;border-top:none" />
            <div class="container">
                <div class="col-sm-12" style="padding-top: 12px; text-align:center">
                    <span>© Copyright 2016 - 2017</span>
                </div>
            </div>
        </div>
    </div>
</div>