<div id="footer" class="footer">
    <div class="container-fluid">
        <div class="row border-last">
            <div class="container footer-links">
                <div class="hidden-xs hidden-sm">
                    <div class="col-xs-6 col-sm-3 col-md-3 row">
                        <h4>Bizweb.vn</h4>
                        <ul>
                            <li>
                                <a href="@Url.Action("AboutUs", "Home")">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SalientFeatures","Home")">Tính năng nổi bật</a>
                            </li>
                            <li>
                                <a href="@Url.Action("PriceList","Home")">Bảng giá</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WarehouseInterface","Home")">Kho giao diện</a>
                            </li>
                            <li>
                                <a href="https://apps.bizweb.vn/">Kho ứng dụng</a>
                            </li>
                            <li>
                                <a href="@Url.Action("WarehouseInterface","Home")">Website tham khảo</a>
                            </li>
                            <li>
                                <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">Khuyến mại</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row custom-row">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <h4>Kênh bán hàng</h4>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("DesignWebsite","Marketing")">Thiết kế website bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="/">Bán trên facebook</a>
                                    </li>
                                    <li>
                                        <a href="/">Bán tại cửa hàng</a>
                                    </li>
                                    <li>
                                        <a href="/">Bán trên website khác</a>
                                    </li>
                                    <li>
                                        <a href="/">Bán trên Sendo</a>
                                    </li>
                                    <li>
                                        <a href="/">Bán trên Zalo</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <h4>Về chúng tôi</h4>
                                <ul>
                                    <li>
                                        <a href="/">Bizweb là gì?</a>
                                    </li>
                                    <li>
                                        <a href="/">Ý kiến khách hàng</a>
                                    </li>
                                    <li>
                                        <a href="/">Báo chí nói về Bizweb</a>
                                    </li>
                                    <li>
                                        <a target="_blank" rel="nofollow" href="/">Tuyển dụng Bizweb</a>
                                    </li>
                                    <li>
                                        <a href="/">Quy định sử dụng</a>
                                    </li>
                                    <li>
                                        <a href="/">Chính sách bảo mật</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ContactUs","Home")">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-3 hidden-xs">
                                <h4>Dịch vụ</h4>
                                <ul>
                                    <li>
                                        <a href="/">Đăng ký tên miền</a>
                                    </li>
                                    <li>
                                        <a href="/">Tên miền miễn phí</a>
                                    </li>
                                    <li>
                                        <a href="/">Dịch vụ email</a>
                                    </li>
                                    <li>
                                        <a href="/" target="_blank">Quảng cáo Google Adwords</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.sapo.vn/">Phần mềm quản lý bán hàng</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://www.saposhop.vn/">Thiết bị bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="/">Thiết kế web đa ngành</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3 footer-col-margin">
                                <h4>Hợp tác</h4>
                                <ul>
                                    <li>
                                        <a href="/">Chương trình chuyên gia</a>
                                    </li>
                                    <li>
                                        <a href="/">Chương trình đối tác</a>
                                    </li>

                                    <li>
                                        <a href="/">Affiliate đối tác</a>
                                    </li>
                                    <li>
                                        <a href="/">Affiliate khách hàng</a>
                                    </li>
                                    <li>
                                        <a href="/">Nhà phát triển ứng dụng</a>
                                    </li>
                                    <li>
                                        <a href="/">Dành cho nhà thiết kế</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <div class="hidden-xs hidden-lg hidden-md visible-sm">
                    <div class="col-sm-12 row" style="margin-bottom:25px;">
                        <div class="col-sm-4">
                            <h4>Bizweb.vn</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("AboutUs", "Home")">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SalientFeatures","Home")">Tính năng nổi bật</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PriceList","Home")">Bảng giá</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">Kho giao diện</a>
                                </li>
                                <li>
                                    <a href="/">Kho ứng dụng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">Website tham khảo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">Khuyến mại</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>Kênh bán hàng</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("DesignWebsite","Marketing")">Thiết kế website bán hàng</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên facebook</a>
                                </li>
                                <li>
                                    <a href="/">Bán tại cửa hàng</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên website khác</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên Sendo</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên Zalo</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>Về chúng tôi</h4>
                            <ul>

                                <li>
                                    <a href="/">Bizweb là gì?</a>
                                </li>
                                <li>
                                    <a href="/">Ý kiến khách hàng</a>
                                </li>
                                <li>
                                    <a href="/">Báo chí nói về Bizweb</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Tuyển dụng Bizweb</a>
                                </li>
                                <li>
                                    <a href="/">Quy định sử dụng</a>
                                </li>
                                <li>
                                    <a href="/">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs","Home")">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 row" style="margin-bottom:25px;">
                        <div class="col-sm-4">
                            <h4>Dịch vụ</h4>
                            <ul>
                                <li>
                                    <a href="/">Đăng ký tên miền</a>
                                </li>
                                <li>
                                    <a href="/">Tên miền miễn phí</a>
                                </li>
                                <li>
                                    <a href="/">Dịch vụ email</a>
                                </li>
                                <li>
                                    <a href="/" target="_blank">Quảng cáo Google Adwords</a>
                                </li>
                                <li>
                                    <a target="_blank" href="/">Phần mềm quản lý bán hàng</a>
                                </li>
                                <li>
                                    <a target="_blank" href="/">Thiết bị bán hàng</a>
                                </li>
                                <li>
                                    <a href="/">Thiết kế web đa ngành</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>Hợp tác</h4>
                            <ul>
                                <li>
                                    <a href="/">Chương trình chuyên gia</a>
                                </li>
                                <li>
                                    <a href="/">Chương trình đối tác</a>
                                </li>

                                <li>
                                    <a href="/">Affiliate đối tác</a>
                                </li>
                                <li>
                                    <a href="/">Affiliate khách hàng</a>
                                </li>
                                <li>
                                    <a href="/">Nhà phát triển ứng dụng</a>
                                </li>
                                <li>
                                    <a href="/">Dành cho nhà thiết kế</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h4>Trợ giúp</h4>
                            <ul>
                                <li>
                                    <a target="_blank" href="/">Trung tâm trợ giúp</a>
                                </li>
                                <li>
                                    <a href="/">Tài liệu hướng dẫn</a>
                                </li>
                                <li>
                                    <a href="/">Hình thức thanh toán</a>
                                </li>
                                <li>
                                    <a target="_blank" href="/">Blog Bizweb</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Gói dịch vụ hỗ trợ</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Hỗ trợ đơn lẻ</a>
                                </li>
                                <li>
                                    <a href="/" target="_blank">Profile Bizweb</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix" style="border-bottom: solid thin #2b2a32;
    margin-bottom: 30px;">
                    <div class="col-xs-12 row" style="margin-bottom:25px;">
                        <div class="col-xs-6">
                            <h4>Bizweb.vn</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("AboutUs", "Home")">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SalientFeatures","Home")">Tính năng nổi bật</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PriceList","Home")">Bảng giá</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">Kho giao diện</a>
                                </li>
                                <li>
                                    <a href="/">Kho ứng dụng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WarehouseInterface","Home")">Website tham khảo</a>
                                </li>
                                <li>
                                    <a href="/" target="_blank">Khuyến mại</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IndexPromotion","Marketing")" rel="nofollow" target="_blank">Khuyến mại</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <h4>Kênh bán hàng</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("DesignWebsite","Marketing")">Thiết kế website bán hàng</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên facebook</a>
                                </li>
                                <li>
                                    <a href="/">Bán tại cửa hàng</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên website khác</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên Sendo</a>
                                </li>
                                <li>
                                    <a href="/">Bán trên Zalo</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix" style="border-bottom: solid thin #2b2a32;
    margin-bottom: 30px;">
                    <div class="col-xs-12 row" style="margin-bottom:25px;">
                        <div class="col-xs-6">
                            <h4>Về chúng tôi</h4>
                            <ul>
                                <li>
                                    <a href="/">Bizweb là gì?</a>
                                </li>
                                <li>
                                    <a href="/">Ý kiến khách hàng</a>
                                </li>
                                <li>
                                    <a href="/">Báo chí nói về Bizweb</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Tuyển dụng Bizweb</a>
                                </li>
                                <li>
                                    <a href="/">Quy định sử dụng</a>
                                </li>
                                <li>
                                    <a href="/">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs","Home")">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <h4>Dịch vụ</h4>
                            <ul>
                                <li>
                                    <a href="/">Đăng ký tên miền</a>
                                </li>
                                <li>
                                    <a href="/">Tên miền miễn phí</a>
                                </li>
                                <li>
                                    <a href="/">Dịch vụ email</a>
                                </li>
                                <li>
                                    <a href="/" target="_blank">Quảng cáo Google Adwords</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.sapo.vn/">Phần mềm quản lý bán hàng</a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.saposhop.vn/">Thiết bị bán hàng</a>
                                </li>
                                <li>
                                    <a href="/">Thiết kế web đa ngành</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hidden-md hidden-lg hidden-sm row clearfix">
                    <div class="col-xs-12 row">
                        <div class="col-xs-6">
                            <h4>Hợp tác</h4>
                            <ul>
                                <li>
                                    <a href="/">Chương trình chuyên gia</a>
                                </li>
                                <li>
                                    <a href="/">Chương trình đối tác</a>
                                </li>

                                <li>
                                    <a href="/">Affiliate đối tác</a>
                                </li>
                                <li>
                                    <a href="/">Affiliate khách hàng</a>
                                </li>
                                <li>
                                    <a href="/">Nhà phát triển ứng dụng</a>
                                </li>
                                <li>
                                    <a href="/">Dành cho nhà thiết kế</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <h4>Trợ giúp</h4>
                            <ul>
                                <li>
                                    <a target="_blank" href="@Url.Action("Help","Home")">Trung tâm trợ giúp</a>
                                </li>
                                <li>
                                    <a href="/">Tài liệu hướng dẫn</a>
                                </li>
                                <li>
                                    <a href="/">Hình thức thanh toán</a>
                                </li>
                                <li>
                                    <a target="_blank" href="/">Blog Bizweb</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Gói dịch vụ hỗ trợ</a>
                                </li>
                                <li>
                                    <a target="_blank" rel="nofollow" href="/">Hỗ trợ đơn lẻ</a>
                                </li>
                                <li>
                                    <a href="/" target="_blank">Profile Bizweb</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
         
        <div class="row footer-copyright hidden-sm hidden btn-xs visible-md visible-lg">
            <div class="container">
                <div class="col-md-12 row padding-copyright"style="text-align:center">
                    <span>© Copyright 20016 - 2017</span>
                </div>
                 
            </div>
        </div>



        <div class="row footer-copyright hidden-md hidden-xs visible-sm">
          
            <hr style="margin-bottom:0;margin-top:0;border-bottom: solid thin #36353d;border-top:none" />
            <div class="container">
                <div class="col-sm-12" style="padding-top: 12px; text-align:center">
                    <span>© Copyright 2016 - 2017</span>
                </div>
            </div>
        </div>

         

    </div>

</div>
