<div class="page-block" id="page-block-x08eqw9j1c0h8x7i9pgl7syvi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-text widget-text " id="element-672">

                <div class="contents">
                    <p>
                        <a href="@Url.Action("AboutUs", "Home") rel="null" type="url" id="link-98u9xa4mvwt098qaxq5x6flxr" class="url-link" target="_blank" style="color: #878787">Về chúng tôi</a>

                    </p>
                    <p>
                        <a href="@Url.Action("SalientFeatures", "Home")" rel="null" type="url" id="link-7c04qhe5wtppewofkllg0evcxr" class="url-link" target="_blank" style="color: #878787">Tính năng nổi bật</a>

                    </p>
                    <p>

                        <a href="@Url.Action("PriceList", "Home") rel="null" type="url" id="link-r7lf8czq1uh0oqu72be53ik9" class="url-link" target="_blank" style="color: #878787">Bảng giá</a>

                    </p>
                    <p>

                        <a href="@Url.Action("WarehouseInterface","Home")" rel="null" type="url" id="link-kv1d08wfgvesn3q6yjy8pvi" class="url-link" target="_blank" style="color: #878787">
                            Kho giao diện
                        </a>

                    </p><p>

                        <a href="/" rel="null" type="url" id="link-13ghls32zmz0om78nzx97zm2t9" class="url-link" target="_blank" style="color: #878787">Kho ứng dụng</a>

                    </p>
                    <p>
                        <a href="/" rel="null" type="url" id="link-rf2aameo95h8qrhkfkuf03sor" class="url-link" target="_blank" style="color: #878787">Website tham khảo</a> 
                    </p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-673">

                <div class="contents">
                    <p>
                         <b style="color: #ffffff">Kênh bán hàng</b> 
                    </p>
                    <p>
                    </p>
                    <p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-671">

                <div class="contents">
                    <p>
                        <font color="#ffffff">
                            <b>
                                <a href="/" rel="null" type="url" id="link-4dkaystdlk21ozrm5hs4avpldi" class="url-link" target="_blank">Bizweb.vn</a>
                            </b>
                        </font>
                    </p><p><font color="#ffffff"><b><br></b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-674">

                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("DesignWebsite","Marketing")" rel="null" type="url" id="link-4ghqoy77stvnkava3ugn6zuxr" class="url-link" target="_blank">Thiết kế website bán hàng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-5wda11v1xuao701xhf5zy3nmi" class="url-link" target="_blank">Bán trên facebook</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-g2tlgf155dkk98ooe8zrggb9" class="url-link" target="_blank">Bán tại cửa hàng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-2z5rzn4nxi21sxzn1kv0psc3di" class="url-link" target="_blank">Bán trên website khác</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-9fngjv1suo1ec8hqfi0fnu3di" class="url-link" target="_blank">Bán trên Sendo</a>
                        </font>
                    </p><p><font color="#878787"><a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-hz69pm678d7x3vjkoaud6lxr" class="url-link" target="_blank">Bán trên Zalo</a></font></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-675">

                <div class="contents">
                    <p><font color="#ffffff"><b>Về chúng tôi</b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-676">

                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-1twop1twhhcsoek4znc73c8fr" class="url-link" target="_blank">Bizweb là gì?</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-w147fitfg8pbk9z9s5ocx47vi" class="url-link" target="_blank">Ý kiến khách hàng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-rusvsi7kmelpv4jr4yousor" class="url-link" target="_blank">Báo chí nói về Bizweb</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-qy3syicrpj7urhj6ktfrh33di" class="url-link" target="_blank">Tuyển dụng Bizweb</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-50at6r20kkvkglxbjqwwrhehfr" class="url-link" target="_blank">Quy định sử dụng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-ryim35cwav9zvyz4ot15dbo6r" class="url-link" target="_blank">Chính sách bảo mật</a>
                        </font>
                    </p><p><font color="#878787"><a href="@Url.Action("ContactUs","Home")" rel="null" type="url" id="link-ygwym2hzxq0ln6a88vvkdfgvi" class="url-link" target="_blank">Liên hệ</a></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-681">

                <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px solid #373737;"></div>

            </div>


            <div class="page-element widget-container page-element-type-text widget-text " id="element-605">

                <div class="contents">
                    <p><font color="#ffffff"><b>Dịch vụ</b></font></p><p style=" ">
                    </p><p><br></p>
                </div>
            </div>
             
            <div class="page-element widget-container page-element-type-text widget-text " id="element-678">

                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-x7jye8yn6k55t3cas1mezsemi" class="url-link" target="_blank">Đăng ký tên miền</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-erym1vpcg1108hypl45mcayvi" class="url-link" target="_blank">Tên miền miễn phí</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-8mubx6kzp4e159rvljsdzpvi" class="url-link" target="_blank">Dịch vụ email</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-6wwn2gamdxbraigfwfljif6r" class="url-link" target="_blank">Quảng cáo Google Adwords</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="https://www.sapo.vn/" rel="null" type="url" id="link-id4va6u4qlv939x3uajqvvx6r" class="url-link" target="_blank">Phần mềm quản lý bán hàng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="https://www.saposhop.vn/" rel="null" type="url" id="link-r15u9we9lo02637tzil5qxgvi" class="url-link" target="_blank">Thiết bị bán hàng</a>
                        </font>
                    </p><p><font color="#878787"><a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-4oeimnlw2m250fow61njr1kyb9" class="url-link" target="_blank">Thiết kế web đa ngành</a></font></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-679">

                <div class="contents">
                    <p><font color="#ffffff"><b>Hợp tác</b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-680">
                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-wz708jfb7rr1bcnbby2pgb9" class="url-link" target="_blank">Chương trình chuyên gia</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-1rm9jn1lh0ods0va7ttny7gb9" class="url-link" target="_blank">Chương trình đối tác</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-d43k3vm80ye2nwmqu2445nrk9" class="url-link" target="_blank">Affiliate đối tác</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-c3wztto3v0cmis4eo44rdg3nmi" class="url-link" target="_blank">Affiliate khách hàng</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-cm90o76by5su10pj5pyl23xr" class="url-link" target="_blank">Nhà phát triển ứng dụng</a>
                        </font>
                    </p><p><font color="#878787"><a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-d0ik0ezlnl930ae5bup8ir7ldi" class="url-link">Dành cho nhà thiết kế</a></font></p>
                </div>
            </div>

        </div>
    </div>
</div>