<div class="page-block" id="page-block-x08eqw9j1c0h8x7i9pgl7syvi">
    <div class="color-overlay"></div>
    <div class="border-holder">
        <div class="block-inner">
            <div class="page-element widget-container page-element-type-text widget-text " id="element-672">

                <div class="contents">
                    <p>
                        <a href="#" rel="null" type="url" id="link-98u9xa4mvwt098qaxq5x6flxr" class="url-link" target="_blank" style="color: #878787">เกี่ยวกับเรา</a>
                    </p>
                    <p>
                        <a href="@Url.Action("SalientFeatures", "Home")" rel="null" type="url" id="link-7c04qhe5wtppewofkllg0evcxr" class="url-link" target="_blank" style="color: #878787">คุณสมบัติที่โดดเด่น</a>
                    </p>
                    <p>

                        <a href="@Url.Action("PriceList", "Home")" rel="null" type="url" id="link-r7lf8czq1uh0oqu72be53ik9" class="url-link" target="_blank" style="color: #878787">อัตราค่าบริการ</a>
                    </p>
                    <p>

                        <a href="@Url.Action("WarehouseInterface","Home")" rel="null" type="url" id="link-kv1d08wfgvesn3q6yjy8pvi" class="url-link" target="_blank" style="color: #878787">
                            สต็อคอินเตอร์เฟซ
                        </a>
                    </p><p>

                        <a href="/" rel="null" type="url" id="link-13ghls32zmz0om78nzx97zm2t9" class="url-link" target="_blank" style="color: #878787">สต็อคโปรแกรมประยุกต์ </a>
                    </p>
                    <p>
                        <a href="/" rel="null" type="url" id="link-rf2aameo95h8qrhkfkuf03sor" class="url-link" target="_blank" style="color: #878787">เว็บไซต์ตัวอย่าง</a>
                    </p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-673">

                <div class="contents">
                    <p>
                        <b style="color: #ffffff">ช่องขายสินค้า</b>
                    </p>
                    <p>
                    </p>
                    <p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-671">

                <div class="contents">
                    <p>
                        <font color="#ffffff">
                            <b>
                                <a href="/" rel="null" type="url" id="link-4dkaystdlk21ozrm5hs4avpldi" class="url-link" target="_blank">Eziwebshop.com</a>
                            </b>
                        </font>
                    </p><p><font color="#ffffff"><b><br></b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-674">

                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("DesignWebsite","Marketing")" rel="null" type="url" id="link-4ghqoy77stvnkava3ugn6zuxr" class="url-link" target="_blank">ออกแบบเว็บไซต์ขายสินค้า</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-5wda11v1xuao701xhf5zy3nmi" class="url-link" target="_blank">ขายสินค้าที่Facebook</a>
                        </font>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-675">

                <div class="contents">
                    <p><font color="#ffffff"><b>เกี่ยวกับเรา</b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-676">

                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-1twop1twhhcsoek4znc73c8fr" class="url-link" target="_blank">Eziwebshopคืออะไร</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-w147fitfg8pbk9z9s5ocx47vi" class="url-link" target="_blank">ความคิดเห็นของลูกค้า</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-rusvsi7kmelpv4jr4yousor" class="url-link" target="_blank">หนังสือพิมพ์พูดถึงEziwebshop</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-qy3syicrpj7urhj6ktfrh33di" class="url-link" target="_blank">รับสมัคร</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-50at6r20kkvkglxbjqwwrhehfr" class="url-link" target="_blank">เงื่อนไขการใช้</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-ryim35cwav9zvyz4ot15dbo6r" class="url-link" target="_blank">นโยบายรักษาข้อมูล</a>
                        </font>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-line-horizontal widget-line-horizontal " id="element-681">

                <div class="line-horizontal" style="width: auto; height: 10px; border-bottom: 1px solid #373737;"></div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-605">

                <div class="contents">
                    <p><font color="#ffffff"><b>บริการ</b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-678">
                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion", "Marketing")" rel="null" type="url" id="link-8mubx6kzp4e159rvljsdzpvi" class="url-link" target="_blank">บริการ email</a>
                        </font>
                    </p>
                    <p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-6wwn2gamdxbraigfwfljif6r" class="url-link" target="_blank">โฆษณาGoogle Adwords</a>
                        </font>
                    </p>
                    <p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-id4va6u4qlv939x3uajqvvx6r" class="url-link" target="_blank">ซอฟต์แวร์จัดการการขายสินค้า</a>
                        </font>
                    </p>
                    <p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-r15u9we9lo02637tzil5qxgvi" class="url-link" target="_blank">อุปกรณ์ขายสินค้า</a>
                        </font>
                    </p>
                    <p>
                        <font color="#878787"><a href="@Url.Action("IndexPromotion", "Marketing")" rel="null" type="url" id="link-4oeimnlw2m250fow61njr1kyb9" class="url-link" target="_blank">อุอกแบบเว็บใช้ได้ทุกประเภท</a></font>
                    </p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-679">
                <div class="contents">
                    <p><font color="#ffffff"><b>ร่วมมือกัน</b></font></p><p>
                    </p><p><br></p>
                </div>
            </div>

            <div class="page-element widget-container page-element-type-text widget-text " id="element-680">
                <div class="contents">
                    <p>
                        <font color="#878787">
                            <a href="/" rel="null" type="url" id="link-wz708jfb7rr1bcnbby2pgb9" class="url-link" target="_blank">โปรแกรมผู้เชี่ยวชาญ</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-1rm9jn1lh0ods0va7ttny7gb9" class="url-link" target="_blank">โปรแกรมคู่ค้า</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-d43k3vm80ye2nwmqu2445nrk9" class="url-link" target="_blank">Affiliate คู่ค้า</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-c3wztto3v0cmis4eo44rdg3nmi" class="url-link" target="_blank">Affiliate ลูกค้า</a>
                        </font>
                    </p><p>
                        <font color="#878787">
                            <a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-cm90o76by5su10pj5pyl23xr" class="url-link" target="_blank">ผู้พัฒนาโปรแกรมประยุกต์</a>
                        </font>
                    </p><p><font color="#878787"><a href="@Url.Action("IndexPromotion","Marketing")" rel="null" type="url" id="link-d0ik0ezlnl930ae5bup8ir7ldi" class="url-link">สำหรับผู้ออกแบบ</a></font></p>
                </div>
            </div>
        </div>
    </div>
</div>