<div id="header" class="header" style="background: #fff !important">
    <div class="container">
        <div class="col-sm-4 col-md-2 hidden-xs hidden-md hidden-sm no-padding main-logo">
            <a id="logo" href="/">
                <img src="/Content/images/newlogo/bizweb_logo_old.svg" width="190" alt="Bizweb">
            </a>
        </div>
        <div class="col-xs-6 col-sm-5 hidden-lg col-md-5 col-lg-2 no-padding btn-menu">
            <button type="button" class="btn-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
            <a class="small-logo hidden-lg" href="/">
                <img src="/Content/images/newlogo/bizweb_logo_old.svg" width="190" alt="Bizweb">
            </a>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-10 text-right no-padding">
            <ul class="main-menu hidden-sm hidden-xs hidden-md">
                 
                <li>
                    <a class="menu-item @ViewBag.ActivePriceList" href="@Url.Action("PriceList","Home")">อัตราค่าบริการ</a>
                </li>
                <li>
                    <a class="menu-item @ViewBag.WarehouseInterface" href="@Url.Action("WarehouseInterface","Home")">Kho giao diện</a>
                </li>
                <li>
                    <a class="menu-item @ViewBag.SalientFeatures" href="@Url.Action("SalientFeatures","Home")">Tính năng nổi bật</a>
                </li>
                <li>
                    <a class="menu-item @ViewBag.IndexPromotion" href="@Url.Action("IndexPromotion","Marketing")" >
                        Khuyến mại
                    </a>
                </li>
                 
            </ul>
            <ul class="user-menu">
                <li>
                    <a class="menu-item hidden-xs" href="javascript:openLoginPopup();"><strong>Đăng nhập</strong></a>
                </li>
                <li>
                    <a class="btn-registration event-Bizweb-Free-Trial-form-open" href="https://docs.google.com/forms/d/e/1FAIpQLSdKdRFC-CPzPXqXYC38397zBF98j8ER2C6IcU0vqhOnB62PIg/viewform">สมัครตอนนี้</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
      

            <li>
                <a class="menu-item" href="@Url.Action("PriceList","Home")">Bảng giá</a>
            </li>
            <li>
                <a class="menu-item" href="@Url.Action("WarehouseInterface","Home")">Kho giao diện</a>
            </li>
             
            <li>
                <a class="menu-item" href="@Url.Action("SalientFeatures","Home")">Tính năng nổi bật</a>
            </li>
            <li>
                <a class="menu-item" href="@Url.Action("IndexPromotion","Marketing")" >
                        Khuyến mại </a>
            </li>

             
             
        </ul>
    </div>
</div>
<script type="text/javascript">
    function onResize() {
        var ww = $(window).width();
        if (ww <= 440) {
            if ($("#header").hasClass("index") || $("#header").hasClass("aqua")) {
                $("#header #logo img").attr("src", "/Content/images/bizweb_new_logo_short.png");
                $("#header .small-logo img").attr("src", "/Content/images/bizweb_new_logo_short.png");
            }
            else {
                $("#header #logo img").attr("src", "/Content/images/bizweb_old_logo_short.png");
                $("#header .small-logo img").attr("src", "/Content/images/bizweb_old_logo_short.png");
            }
        }
        else {
            if ($("#header").hasClass("index") || $("#header").hasClass("aqua")) {
                $("#header #logo img").attr("src", "/Content/images/newlogo/bizweb_logo_new.svg");
                $("#header .small-logo img").attr("src", "/Content/images/newlogo/bizweb_logo_new.svg");
            }
            else {
                $("#header #logo img").attr("src", "/Content/images/newlogo/bizweb_logo_old.svg");
                $("#header .small-logo img").attr("src", "/Content/images/newlogo/bizweb_logo_old.svg");
            }
        }
    }

    $(window).resize(function () {
        onResize();
    });
    $(window).trigger('resize');

    function isVisibleScrollbar() {
        var offset = $("#header").offset();
        var curWin = $(window);

        var top = curWin.scrollTop() - 51;
        if (top >= 0)
            return true;

        return false;
    }


    $(function () {
        $("#header:not(.index):not(.aqua) #logo img").attr("src", "/Content/images/newlogo/bizweb_logo_old.svg");
    });
</script>
 