<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/default.min.vs.1.5.5.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/js/default.js"></script>
    <link href="~/Content/css/live-chat.css" rel="stylesheet" />
    <script src="~/Content/swiper3/js/swiper.js"></script>
        @RenderSection("styles", false) 
    <script src="/Content/js/add-new-shop.js"></script>
    <link rel="shortcut icon" href="/eziweb.ico" type="image/x-icon" />


    @*<script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-92003907-1', 'auto');
        ga('send', 'pageview');

    </script>*@
</head>
<body>

    <div id="container">
        @RenderSection("header", false)
        @*@Html.Partial("_Header")*@

        <div id="wrapper" class="clearfix">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
        @*<div id="registration" class="registration-frame" style="display: none;">
            <iframe id="iFrameRegistration" width="100%" height="700" scrolling="no" frameborder="0" style="border: none;" src=""></iframe>
        </div>*@
        @*<div id="login-div" class="login-form" style="display: none;">
            <form id="login-form" method="post" action="">
                <div class="padding-sm-bottom">
                    <img class="popup-login-logo" src="~/Content/images/bizweb_old_logo.png" alt="Bizweb">
                    <img class="popup-login-divider" src="~/Content/images/popup-divider.png" />
                    <span class="popup-login-text">Đăng nhập vào website của bạn</span>
                </div>
                <div class="form-group margin-bottom errors">
                    <ul></ul>
                </div>
                <div class="form-group subdomain hide">
                    <input name="Subdomain" class="form-input" placeholder="Đường dẫn website" data-val="true" data-val-length="Đường dẫn phải dài từ 4 đến 50 ký tự" data-val-length-max="50" data-val-length-min="4" data-val-regex="Đường dẫn website không hợp lệ" data-val-regex-pattern="^[a-zA-Z0-9-_]{4,50}$" aria-invalid="false" aria-describedby="Name-error">
                    <span class="subdomain-inline">.bizwebvietnam.net</span>
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Subdomain" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-input" data-val="true" data-val-required="Nhập vào Email" data-val-email="Email không đúng định dạng" id="Email" name="Email" placeholder="Địa chỉ email" type="text" value="" aria-required="true" aria-invalid="true" aria-describedby="Email-error">
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <input name="Password" class="form-input" type="password" placeholder="Mật khẩu" data-val-required="Nhập vào mật khẩu" aria-required="true" data-val="true" data-val-length="Mật khẩu dài từ 6 đến 50 ký tự" data-val-length-max="50" data-val-length-min="6">
                    <div class="has-error padding-md-left padding-sm-top">
                        <span class="help-block"><span class="help-block field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-checkbox checkbox-confirm col-md-6 col-sm-6 col-xs-6">
                        <div class="checkbox-five">
                            <input class="big-checkbox" id="cbRememberMe" name="RememberMe" type="checkbox" value="true">
                            <label class="checkbox-tick" for="cbRememberMe"></label>
                        </div>
                        <label for="cbRememberMe" class="checkbox-label">Nhớ mật khẩu</label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 forget-pass ">
                        <a href="#" class="forgot-password">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="text-center" style="clear: both">
                    <button class="btn-login event-Login-form-submit" onclick="return login();" type="submit">Đăng nhập</button>
                </div>
            </form>
        </div>*@

        @*<div id="forget-div" class="login-form" style="display: none;">
            <form id="forget-form" method="post" action="">
                <div class="padding-sm-bottom">
                    <img class="popup-login-logo" src="~/Content/images/bizweb_old_logo.png" alt="Bizweb">
                    <img class="popup-login-divider" src="~/Content/images/popup-divider.png" />
                    <span class="popup-login-text">Bạn quên mật khẩu ?</span>
                </div>
                <div class="form-group margin-bottom errors">
                    <ul></ul>
                </div>
                <div class="form-group" style="padding-top: 20px; padding-bottom: 20px;">
                    <input class="form-input" data-val="true" data-val-required="Nhập vào Email" data-val-email="Email không đúng định dạng" id="forget-email" name="Email" placeholder="Nhập tên website của bạn" type="text" value="">
                    <div class="has-error padding-md-left">
                        <span class="error-email" style="display: none;"><span class="help-block field-validation-valid"> </span></span>
                    </div>
                </div>
                <div class="text-center" style="clear: both">
                    <button class="btn-login event-Login-form-submit click-forget-btn" type="submit">QUÊN MẬT KHẨU</button>
                </div>
            </form>
        </div>*@
    </div>
    <img class="scroll-top" src="~/Content/images/totop.png" style="display:none;cursor :pointer; position : fixed;bottom : 90px;right : 33px;z-index : 99999;" alt="BACK TO TOP" />

    @RenderSection("scripts", false)
</body>
</html>