<script type="text/html" id="templateRecharge">
    <div class="rs" id="listRecharge">

        <ul class="zichan-nav">
            <li data-id="zijin" class="lete-active"> @Resource.TransactionHistory </li>
            <li class="create-new">
                <input type="text" id="txtKeyword" placeholder="@Resource.Order_InputCodeOrder" data-bind="value: Keyword, event: {keypress: onEnter}" autocomplete="off" />
                <i class="fa fa-search" id="btnSearch" style="margin-right: 10px;" data-bind="click: searchKeyword"></i> <i class="fa fa-file-excel-o" title="Xuất file excel" data-bind="click: ExcelReport"></i>
            </li>
        </ul>
        <div class="dingdan-top">
            <div class="search-time">
                <div class="text-time">
                    <p>@Resource.Order_TimeCreateOrder</p>
                </div>
                <div class="check-time">
                    <a href="javascript:void(0)" class="btn btn-default" data-bind="click: searchAllTime">@Resource.Order_StatusAll</a>
                </div>
                <div class="search-calender" style="width: 50%;">
                    <div class="date-start">
                        <span>@Resource.From:</span><input type="text" id="date_timepicker_start" data-bind="value: StartSearch" placeholder="20/10/2016" autocomplete="off" /> <i class="fa fa-calendar"></i>
                    </div>
                    <div class="date-end">
                        <span>@Resource.To : </span><input type="text" id="date_timepicker_end" data-bind="value: FinishSearch" placeholder="20/10/2016" autocomplete="off" /> <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div style="width: 28%;padding: 15px 0px; float: right;">
                    <select id="ddlWallet" style="width: 100%; height: 28px;"
                            data-bind="options: listWallet,optionsText: 'Text',
                            optionsValue: 'Value',
                            optionsCaption: 'เลือกประเภทธุรกรรม',
                            value: WalletIds,
                            event: {change: searchKeyword}
                            "></select>
                </div>
            </div>
        </div>
        @*<div class="zichan-msg">
                <span>
                    @Resource.TransactionHistory_TotalTransaction: <a data-bind="text: totalRecharge"> </a>
                </span>
            </div>*@
        <div class="zichan-zijin zichan-box rs">
            <form class="rs mg-bottom-20">
                <div data-bind="if: listAll().length > 0" class="mg-t-15 rs">
                    <div data-bind="html: pageTitle" class="pull-left"></div>

                    <ul class="pagination no-margin pull-right">
                        <li data-bind="if: pageStart">
                            <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li data-bind="if: pageNext">
                            <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                        </li>
                        <!-- ko foreach: listPage -->
                        <li data-bind="css: Page === page ? 'active' :''  ">
                            <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                        </li>
                        <!-- /ko -->
                        <li data-bind="if: pagePrev">
                            <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                        </li>
                        <li data-bind="if: pageEnd">
                            <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
            <div data-bind="css: isRendingPage() === true? '' : 'display-none'" class="rs loading-acc">
                <table border="1" cellspacing="1" cellpadding="1">
                    <thead> 
                    <tr>
                        <th class="text-center">#</th>
                        <th>@Resource.Code_Transition</th>
                        <th> @Resource.TransactionHistory_Time </th>
                        <th class="text-center"> @Resource.Order_Exhibition </th>
                        <th> @Resource.TransactionHistory_TransactionType </th>
                        <th class="text-left"> @Resource.TransactionHistory_Content </th>
                        <th class="text-right"> จำนวนเงินทำการธุรกรรม
                       (@Resource.Currency) </th>
                            <th class="text-right"> จำนวนเงินก่อนที่ทำการธุรกรรม (@Resource.Currency) </th>
                            <th class="text-right"> @Resource.Dashboard_Surplus (@Resource.Currency) </th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { name: 'rechargeList', foreach: listAll }"></tbody>

                    <tfoot data-bind="if: listAll().length == 0" class="dingdan-content-non">
                        <tr>
                            <td colspan="9">@Resource.RequestsPayment_NoData</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div data-bind="css: isRendingPage() === true? 'display-none' : ''" class="rs loading-acc">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw red-color"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <form class="rs mg-bottom-20">
                <div data-bind="if: listAll().length > 0" class="mg-t-15 rs">
                    <div data-bind="html: pageTitle" class="pull-left"></div>

                    <ul class="pagination no-margin pull-right">
                        <li data-bind="if: pageStart">
                            <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li data-bind="if: pageNext">
                            <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                        </li>
                        <!-- ko foreach: listPage -->
                        <li data-bind="css: Page === page ? 'active' :''  ">
                            <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                        </li>
                        <!-- /ko -->
                        <li data-bind="if: pagePrev">
                            <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                        </li>
                        <li data-bind="if: pageEnd">
                            <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</script>