@{
    ViewBag.Title = Resource.Detail_Notification;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Areas/CMS/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Areas/CMS/css/toastr.min.css" rel="stylesheet" />

}
@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}
<section class="zy-main">
    @Html.Partial("~/Views/Partial/_Toolbar.cshtml")
    <div class="user-r">
        <div data-bind="css: isRending() === true? 'display-none' : ''" class="rs loading-acc">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw red-color"></i>
            <span class="sr-only">Loading...</span>
        </div>

        <div class="user-r-main display-none" data-bind="css: isRending() === true? '' : 'display-none'">
            <div id="detailNotification">

                <div class="xiaoxi">
                    <ul class="xiaoxi-nav">
                        <li data-id="zhongxin" class="lete-active">
                            @Resource.Home_Notification:
                            <span data-bind="text: notificationModel().Title"></span>

                        </li>
                    </ul>
                    <div class="rs content-notification">
                        <p>
                            <i class="fa fa-calendar-check-o"></i>@Resource.TransactionHistory_TimeUp: <span data-bind="text: moment(notificationModel.CreateDate).format('DD/MM/YYYY   hh:mm:ss')"></span>
                            &nbsp;&nbsp;
                            <!-- ko if: notificationModel().OrderType() == 0 -->
                            <a target="_blank" data-bind="attr: {href: '/' + window.culture + '/CMS/Order/DetailOrder?orderId=' + notificationModel().OrderId()}" class="td-text-left link-shop"><span>ดูรายการ @*Xem chi tiết đơn*@</span></a>
                            <!-- /ko -->
                            <!-- ko if: notificationModel().OrderType() == 1 -->
                            <a target="_blank" data-bind="attr: {href: '/' + window.culture + '/CMS/Order/DetailDeposit?depositId=' + notificationModel().OrderId()}" class="td-text-left link-shop"><span>ดูรายการ @*Xem chi tiết đơn*@</span></a>
                            <!-- /ko -->
                            <!-- ko if: notificationModel().OrderType() == 2 -->
                            <a target="_blank" data-bind="attr: {href: '/' + window.culture + '/CMS/Order/DetailSourcing?sourcingId=' + notificationModel().OrderId()}" class="td-text-left link-shop"><span>ดูรายการ @*Xem chi tiết đơn*@</span></a>
                            <!-- /ko -->
                            <!-- ko if: notificationModel().OrderType() == 3 -->
                            <a target="_blank" data-bind="attr: {href: '/' + window.culture + '/CMS/Ticket/DetailTicket?ticketId=' + notificationModel().OrderId()}" class="td-text-left link-shop"><span>ดูรายละเอียดข้อร้องเรียน @*Xem chi tiết khiếu nại*@</span></a>
                            <!-- /ko -->
                            <!-- ko if: notificationModel().OrderType() == 4 -->
                            <a target="_blank" data-bind="attr: {href: '/' + window.culture + '/CMS/Wallet/ElectronicWallet'}" class="td-text-left link-shop"><span>@Resource.Dashboard_ElectricWallet</span></a>
                            <!-- /ko -->
                        </p>
                        <p data-bind="text:notificationModel().Description"></p>
                        <div class="back-list rs">
                            <a class="btn" data-bind="click:backToList"> @Resource.TransactionHistory_ComeBack</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
<script src="~/Scripts/lodash.js"></script>
    @*//thu vien format date*@
    <script src="~/Areas/CMS/Scripts/moment-with-locales.min.js"></script>

    @*//file js knockoutjs ViewModel*@
    <script src="~/Areas/CMS/Scripts/models/notification/notidicationModel.js"></script>
    <script src="~/Areas/CMS/Scripts/viewmodels/notifi/notifiDetail.js"></script>
   

}


