@{
    ViewBag.Title = Resource.Pakage_ListPakage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var cultureJs = string.Format("{0}.js", culture);
}

@section styles{
    <link href="~/Content/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/Areas/CMS/css/styleView.css" rel="stylesheet" />
    <link href="~/Areas/CMS/css/custom.css" rel="stylesheet" />
    <style type="text/css">
        .content-code > span{
            width: 100%;
        }
    </style>
}

@section Header{
    @Html.Partial("~/Views/Partial/_Header.cshtml")
}

<section class="zy-main">
    @Html.Partial("~/Views/Partial/_Toolbar.cshtml")

    <div class="user-r">
        <div data-bind="css: isRending() === true? 'display-none' : ''" class="rs loading-acc">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw red-color"></i>
            <span class="sr-only">Loading...</span>
        </div>

        <div class="user-r-main display-none" data-bind="css: isRending() === true? '' : 'display-none'">

            <div class="dingdan">
                <ul class="zichan-nav" id="package">
                    <li data-id="zijin" class="lete-active">@Resource.Pakage_ListPakage</li>
                    <li class="create-new">
                        <input type="text" id="txtKeyword" placeholder="@Resource.Order_InputCodeOrder" data-bind="value: Keyword, event: {keypress: onEnter}" autocomplete="off"/>
                        <i class="fa fa-search" id="btnSearch" style="margin-right: 10px;" data-bind="click: searchKeyword"></i> <i class="fa fa-file-excel-o"></i>
                    </li>
                </ul>
                <div class="dingdan-top">
                    <div class="search-time">
                        <div class="text-time">
                            <p>@Resource.Order_TimeCreateOrder</p>
                        </div>
                        <div class="check-time">
                            <a href="javascript:void(0)" class="btn btn-default" data-bind="click: searchAllTime">@Resource.Order_StatusAll</a>
                        </div>
                        <div class="search-calender">
                            <div class="date-start">
                                <span>@Resource.From:</span><input type="text" id="date_timepicker_start" data-bind="value: StartSearch" placeholder="20/10/2016" autocomplete="off" /> <i class="fa fa-calendar"></i>
                            </div>
                            <div class="date-end">
                                <span>@Resource.To : </span><input type="text" id="date_timepicker_end" data-bind="value: FinishSearch" placeholder="20/10/2016" autocomplete="off" /> <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="search-time" style="border-top: 1px solid #e1e1e1;">
                        <div class="text-time" style="padding-top: 17px !important">
                            <p>@Resource.Order_Status</p>
                        </div>
                        <div class="check-time" style="padding-top: 10px !important">
                            <a href="javascript:void(0)" data-bind="click: searchStatus.bind($data, -1, 0, 13)" class="btn btn-default">@Resource.Order_StatusAll</a>
                        </div>
                        <div class="status-payment" data-bind="template: { name: 'tab-status', data: orderPackageStatusItemModel }">
                        </div>
                    </div>
                </div>
                <div class="zichan-zijin zichan-box rs" style="border-top: 1px solid #e1e1e1;">
                    <form class="rs mg-bottom-20">
                        <div data-bind="if: listAll().length > 0" class="mg-t-15 rs">
                            <div data-bind="html: pageTitle" class="pull-left"></div>

                            <ul class="pagination no-margin pull-right">
                                <li data-bind="if: pageStart">
                                    <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <li data-bind="if: pageNext">
                                    <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                </li>
                                <!-- ko foreach: listPage -->
                                <li data-bind="css: Page === page ? 'active' :''  ">
                                    <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                </li>
                                <!-- /ko -->
                                <li data-bind="if: pagePrev">
                                    <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                </li>
                                <li data-bind="if: pageEnd">
                                    <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div data-bind="css: isRendingPage() === true? '' : 'display-none'" class="rs loading-acc">
                        <table class="table table-product" border="1" cellpadding="1" cellspacing="1">
                            <thead>
                                <tr>
                                    <th style="width: 30px !important"> # </th>
                                    <th class="w-200"> @Resource.Order_CodeOrder</th>
                                    <th> @Resource.Order_Exhibition </th>
                                    <th> @Resource.Package_Weight</th>
                                    <th> @Resource.Product_Amount (@Resource.Currency) </th>
                                    <th> @Resource.Package_Storage </th>
                                    <th> @Resource.Order_Status </th>
                                </tr>
                            </thead>
                            <tbody data-bind="template: { name: 'tab-list', foreach: listAll}"></tbody>

                            <tfoot data-bind="if: listAll().length == 0" class="dingdan-content-non">
                                <tr>
                                    <td colspan="7">@Resource.RequestsPayment_NoData</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>



                    <div data-bind="css: isRendingPage() === true? 'display-none' : ''" class="rs loading-acc">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw red-color"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <form class="rs mg-bottom-20">
                        <div data-bind="if: listAll().length > 0" class="mg-t-15 rs">
                            <div data-bind="html: pageTitle" class="pull-left"></div>

                            <ul class="pagination no-margin pull-right">
                                <li data-bind="if: pageStart">
                                    <a data-bind="click: function(){ setPage({Page: 1})}" href="javascript:;"><i class="fa fa-angle-double-left"></i></a>
                                </li>
                                <li data-bind="if: pageNext">
                                    <a data-bind="click: function(){ setPage({Page: (page - 3) < 1 ? 1 : (page - 3) })}" href="javascript:;">...</a>
                                </li>
                                <!-- ko foreach: listPage -->
                                <li data-bind="css: Page === page ? 'active' :''  ">
                                    <a data-bind="text: Page, click: $parent.setPage" href="javascript:;"></a>
                                </li>
                                <!-- /ko -->
                                <li data-bind="if: pagePrev">
                                    <a data-bind="click: function(){ setPage({Page: (page + 3) > pageTotal ? pageTotal: (page + 3) })}" href="javascript:;">...</a>
                                </li>
                                <li data-bind="if: pageEnd">
                                    <a data-bind="click: function(){ setPage({Page: pageTotal})}" href="javascript:;"><i class="fa fa-angle-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    @Html.Partial("~/Areas/CMS/Views/Transport/_status.cshtml")
    @Html.Partial("~/Areas/CMS/Views/Transport/_listPackage.cshtml")
    <script src="~/Areas/CMS/Scripts/models/orderPackage/orderPackageStatusItem.js"></script>
    <script src="~/Areas/CMS/Scripts/viewmodels/package/packageViewModel.js"></script>
    <script src="~/Areas/CMS/Scripts/common/messagerAddNewOrder.@cultureJs"></script>


}