@{
    ViewBag.Title = "Tracking fees incurred";
    var cultureJs = string.Format("{0}.js", UserState.Culture);
    var order = (byte)OrderType.Order;
    var deposit = (byte)OrderType.Deposit;
    var commerce = (byte)OrderType.Commerce;
}

<section class="content-header">
    <h1>
        Tracking fees incurred
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Tracking fees incurred</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <!-- Main content -->
            <div id="serviceOther">
                @Html.AntiForgeryToken()
                <div class="box box-primary">
                    <div class="box-body pad table-responsive">
                        <form data-bind="submit: search.bind($data, 1)" id="searchForm" method="get" role="form" class="form-inline">
                            <!-- ko if: window['warehouses'] -->
                            <div class="form-group">
                                <select data-bind="value: warehouseIdPath, options: warehouses, optionsValue:'idPath', optionsText:'name', optionsCaption:'-- Select warehouse --'" class="form-control"></select>
                            </div>
                            <!-- /ko -->
                            <div class="form-group">
                                <select data-bind="value: orderType, options: orderTypes, optionsValue:'id', optionsText: 'name', optionsCaption:'-- Select order type --'" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <select data-bind="value: mode" class="form-control">
                                    <option value="">-- Type of fee --</option>
                                    <option value="0">Shipping fee</option>
                                    <option value="1">Forklift fee</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <button type="button" class="btn btn-default pull-right" id="ServiceOther-date-btn">
                                        <span>
                                            <i class="fa fa-calendar"></i> Created Date
                                        </span>
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input data-bind="value: keyword" placeholder="Search ..." type="text" class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <i data-bind="attr: {class: isLoading() ? 'fa fa-spinner fa-pulse' : 'fa fa-search'}" class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button data-bind="click: showAddServiceOther" type="button" role="button" class="btn btn-success"><i class="fa fa-ticket"></i> Generate fees incurred</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="body-table">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center w50">#</th>
                                                <th class="text-center">Orders </th>
                                                <th class="text-center">Fee type</th>
                                                <th class="text-center w150">Money (CNY)</th>
                                                <th class="text-center w50">Exchange rate</th>
                                                <th class="text-center w150">Money  (VND)</th>
                                                <th class="text-center">Staff </th>
                                                <th class="text-center">Warehouse</th>
                                                <th class="text-center">Created Date</th>
                                                <th class="text-center">Note</th>
                                                @if (CheckPermision(EnumPage.ServiceOther, EnumAction.Update, EnumAction.Delete))
                                                {
                                                    <th class="text-center"></th>
                                                }
                                            </tr>
                                        </thead>
                                        <!-- ko if: items().length == 0 -->
                                        <tbody>
                                            <tr>
                                                <td colspan="11" class="text-center">There are no records</td>
                                            </tr>
                                        </tbody>
                                        <!-- /ko -->
                                        <!-- ko ifnot: items().length == 0 -->
                                        <tbody data-bind="template: {name: 'serviceOtherTemplate', foreach: items}"></tbody>
                                        <!-- /ko -->
                                    </table>
                                </div>

                                <div class="row mt15">
                                    <div class="col-sm-6">
                                        <div id="sumaryPagerServiceOther" class="henry-paging mt5"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="pagerServiceOther"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div id="noteOtherModal" class="modal fade modal-dialog" tabindex="-1" data-backdrop="static" role="dialog">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">UpdateGhiChuPPS</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="noteOther">Note</label>
                            <textarea data-bind="value: noteOther" id="noteOther" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a data-bind="click: saveNote" class="btn btn-primary"><i class="fa fa-save"></i>Save</a>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </div>

                <div id="valueOtherModal" class="modal fade modal-dialog" tabindex="-1" data-backdrop="static" role="dialog">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Update the amount of charges incurred</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="valueOther">Money</label>
                            <input data-bind="value: valueOther" id="valueOther" class="form-control decimal text-right" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a data-bind="click: saveValue" class="btn btn-primary"><i class="fa fa-save"></i>Save</a>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </div>
                @Html.Partial("~/Views/ServiceOther/_AddOtherService.cshtml")

            </div>
            <!-- /.content -->
        </div>
    </div>
</section>

@Html.Partial("~/Views/Partial/Order/_OrderDepositDetail.cshtml")
@Html.Partial("~/Views/Partial/Order/_OrderDetail.cshtml")
@Html.Partial("~/Views/Partial/Order/_OrderCommerceDetail.cshtml")


@section Styles{
    <style>

    </style>
}

@section Scripts{
    <script type="text/javascript">
        @if (ViewBag.Warehouses != null)
        {
            <text>
        var warehouses = @Html.Raw(ViewBag.Warehouses);
        </text>
        }
        var validateBlackListExtensions = function(file) {
            var ext = file.substring(file.lastIndexOf(".")).toLowerCase();
            return !_.some([".jpg", ".jpeg", ".gif", ".png"], function(item) { return item == ext; });
        };
        var orderType = @Html.Raw(ViewBag.OrderType);
        var orderTypes = @Html.Raw(ViewBag.OrderTypes);

    </script>
    <script src="/Scripts/common/status.@cultureJs"></script>
    <script src="/Scripts/viewmodels/suggettion/SuggetionOrderInputComponents.js"></script>
    <script src="/Scripts/viewmodels/package/packageDetailModel.js"></script>
    <script src="/Scripts/viewmodels/order/orderDetailViewModel.js"></script>
    <script src="/Scripts/viewmodels/order/depositDetailViewModel.js"></script>
    <script src="/Scripts/viewmodels/order/orderCommerceDetailViewModel.js"></script>
    <script src="/Scripts/viewmodels/serviceOther/serviceOtherModel.js"></script>
}

@using (Html.BeginScriptBlock())
{
    <script id="serviceOtherTemplate" type="text/template">
        <tr>
            <td data-bind="text: ($parent.currentPage()-1)* $parent.recordPerPage() + $index()+1" class="text-center"></td>
            <td class="text-center">
                <span data-bind="text: window.orderType[orderType+'']"></span>: <a data-bind="text: ReturnCode(orderCode), click: function() {orderTypeViewModel.showViewOrder(orderId, orderCode); }" href="javascript:;"></a>
            </td>
            <td data-bind="text: mode === 0 ? 'Shipping fee' : 'Forklift fee'"></td>
            <td data-bind="text: formatNumberic(value, 'N2')" class="text-right"></td>
            <td data-bind="text: formatNumberic(exchangeRate)" class="text-right"></td>
            <td data-bind="text: formatNumberic(totalPrice, 'N2')" class="text-right"></td>
            <td>
                <span data-bind="text: createdUserFullName"></span> (<span data-bind="text: createdUserUserName"></span>)
            </td>
            <td data-bind="text: createdOfficeName"></td>
            <td data-bind="text: moment(created).format('DD/MM/YYYY mm:hh')" class="text-right"></td>
            <td data-bind="text: note"></td>

            @if (CheckPermision(EnumPage.ServiceOther, EnumAction.Update, EnumAction.Delete))
            {
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Update <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @if (CheckPermision(EnumPage.ServiceOther, EnumAction.Update))
                            {
                                <li><a data-bind="click: $parent.showValueUpdateModal" href="javascript:;"><i class="fa fa-money"></i> Update Money</a></li>
                                <li><a data-bind="click: $parent.showNoteUpdateModal" href="javascript:;"><i class="fa fa-sticky-note-o"></i> Update Note</a></li>
                            }
                            @if (CheckPermision(EnumPage.ServiceOther, EnumAction.Delete))
                            {
                                <li><a data-bind="click: $parent.delete" href="javascript:;"><i class="fa fa-times"></i> Delete  </a></li>
                            }
                        </ul>
                    </div>
                </td>
            }
        </tr>
    </script>
}

