<!-- =============== Modal xử lý Refund của khiếu nại ===================== -->
<style>
    input.decimal:focus {
        text-align: left !important;
    }
</style>

@model string
@{
    var statusFinish = (byte)ComplainStatus.Success;
    var isAccountancy = CheckOfficeType(UserState.OfficeId.Value, OfficeType.Accountancy);
    var isCustomerCare = CheckOfficeType(UserState.OfficeId.Value, OfficeType.CustomerCare);
    var isOrder = CheckOfficeType(UserState.OfficeId.Value, OfficeType.Order);
    var type = UserState.Type;
}
<div id="refundMoneyModal" class="modal fade modal-dialog modal-p80" tabindex="-1" data-backdrop="static" role="dialog">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-9">
                <h2 class="order-header">
                    <span class="hidden" id="complainID" data-bind="text: claimForRefund().TicketId()"></span>
                    <i class="fa fa-file-code-o"></i> Create refund note in response to complaint: <strong data-bind="text: claimForRefund().TicketCode()" style="color: red"></strong>
                    @*<span class="label label-success" data-bind="text: statusApp.statusComplain[complainModel().Status()].Name,
                        css: statusApp.statusComplain[complainModel().Status()].Class"></span>*@
                </h2>
            </div>
            <div class="col-xs-3">
                <h2 class="order-header">
                    <button type="button" class="btn btn-default pull-right ml15" data-dismiss="modal"><b>x</b></button>
                    <small data-bind="text: 'Start Date :' + moment(complainModel().CreateDate()).format('DD/MM/YYYY')" class="pull-right"></small><br />
                    <!-- ko if: complainModel().Status !== @statusFinish-->
                    <small class="pull-right">Date of completion: --/--/----</small>
                    <!-- /ko -->
                    <!-- ko if: complainModel().Status == @statusFinish-->
                    <small data-bind="text: 'Date of completion: ' + moment(complainModel().LastUpdateDate()).format('DD/MM/YYYY')" class="pull-right"></small>
                    <!-- /ko -->
                </h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-3">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Customer Information</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Customer ID :</th>
                                    <td data-bind="text: claimForRefund().CustomerCode()"></td>
                                </tr>
                                <tr>
                                    <th>Full name :</th>
                                    <td data-bind="text: claimForRefund().CustomerFullName()"></td>
                                </tr>
                                <tr>
                                    <th>Phone:</th>
                                    <td data-bind="text: claimForRefund().CustomerPhone()"></td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td data-bind="text: claimForRefund().CustomerEmail()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-xs-3">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Order information</h3>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Order code:</th>
                                                    <td data-bind="text: claimForRefund().OrderCode()"></td>
                                                </tr>
                                                <tr>
                                                    <th>Order created date:</th>
                                                    <td data-bind="text: moment(order().Created()).format('DD/MM/YYYY')"></td>
                                                </tr>
                                                <tr>
                                                    <th>Order staff:</th>
                                                    <td data-bind="text: claimForRefund().OrderUserFullName()"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Customer care information</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Full name :</th>
                                                    <td data-bind="text: claimForRefund().SupportFullName()"></td>
                                                </tr>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td data-bind="text: claimForRefund().SupportEmail()"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accounting processing</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Full name :</th>
                                                    <td data-bind="text: claimForRefund().AccountantFullName()"></td>
                                                </tr>
                                                <tr>
                                                    <th>Email:</th>
                                                    <td data-bind="text: claimForRefund().AccountantEmail()"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row importwarehouse">
            <div class="col-xs-12 table-responsive">
                <div data-bind="css: isDetailRending() == true? 'display-none' : ''">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
                <div data-bind="css: isDetailRending() == true? '' : 'display-none'" class="display-none">
                    <b class="strong-title">Select the product to refund: </b>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center"><i class="fa fa-image"></i>Image</th>
                                <th class="text-center"><i class="fa fa-cube"></i> Product name</th>
                                <th class="text-center"><i class="fa fa-cube"></i> product attribute</th>
                                <th class="text-center" style="color: blue"><i class="fa fa-cubes"></i> Customer set</th>
                                <th class="text-center" style="color: red"><i class="fa fa-money"></i> Price (CNY)</th>
                                <th class="text-center" style="color: red"><i class="fa fa-superscript"></i> Total (CNY)</th>
                                <th class="text-center"><i class="fa fa-file"></i> Number of error</th>
                                <th class="text-right"><i class="fa fa-file"></i>Expected refunds (CNY)</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: listClaimForRefundData">
                            <tr>
                                <td data-bind="text: $index()+1" class="text-center"></td>
                                <td class="text-center">
                                    <img data-bind="attr: { src: Image}" style="width: 50px;">
                                    @*<img data-bind="attr: { src: Image2}" style="width: 50px;">
                                        <img data-bind="attr: { src: Image3}" style="width: 50px;">
                                        <img data-bind="attr: { src: Image4}" style="width: 50px;">*@
                                </td>
                                <td>
                                    <a data-bind="text: Name, attr: { href: Link}" href="javascript:;" target="_blank"></a>
                                </td>
                                <td class="text-center"><span data-bind="text: Size!=null?Size:''"></span> - <span data-bind="text: Color!=null?Color:''"></span></td>
                                <td data-bind="text: Quantity" class="text-center"></td>
                                <td data-bind="text: Price" class="text-center"></td>
                                <td data-bind="text: TotalPrice" class="text-center"></td>
                                <td class="text-center"><input data-bind="value: QuantityFailed, valueUpdate: 'keyup', enable: @Html.Raw(isCustomerCare ? "true": "false")" class="order-hide text-right form-control decimal" /></td>
                                <td class="text-right" data-bind="text: TotalQuantityFailed"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr data-bind="if: listClaimForRefundData().length == 0">
                                <td colspan="9">Order does not have transactional details</td>
                            </tr>
                        </tfoot>
                        <tfoot class="text-right" data-bind="if: listClaimForRefundData().length != 0">
                            <tr>
                                <!-- ko if: claimForRefund().MoneyRefund() != null-->
                                <td colspan="8" data-bind="text: formatNumbericCN(_.sumBy(listClaimForRefundData(), function(o) { return  Globalize.parseFloat(o.QuantityFailed()); }),'N0') + ' (SP)'"></td>
                                <td data-bind="text: totalClaim() + ' (CNY)'"></td>
                                <!-- /ko -->
                            </tr>
                        </tfoot>
                        <tfoot>
                            <tr>
                                <td colspan="3"><b class="pull-right">Complaints type(Only for customer care):</b></td>
                                <td colspan="3">
                                    @*<div id="complain_tree"></div>*@
                                    <select class="form-control select-view pull-right" style="width: 100%;"
                                            data-bind="options: listTicketType, optionsText: 'Text',optionsValue: 'Value', value: complainModel().TypeServiceClose , valueUpdate: 'blur', event: { blur: minusMoneyOther}"></select>
                                </td>
                                <td><b class="pull-right">Other amount:</b> </td>
                                <td class="text-center" colspan="1">
                                    <input data-bind="value: claimForRefund().MoneyOther, valueUpdate: 'blur', event: { blur: minusMoneyOther}, enable: @Html.Raw(isCustomerCare ? "true": "false")" class="order-hide text-right form-control decimal" />

                                </td>
                                <td><span class="pull-left">Baht</span></td>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">Ordering staff's note</h3>
                    </div>
                    <div class="box-body">
                        <textarea data-bind="value: claimForRefund().NoteOrderer, text: claimForRefund().NoteOrderer()=='null' ? '--' : claimForRefund().NoteOrderer, valueUpdate: 'blur', event: { blur: claimForRefundNoteUpdate}, enable: @Html.Raw(isOrder ? "true": "false")" style="width:100%;" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">Customer Service staff's note</h3>
                    </div>
                    <div class="box-body">
                        <textarea class="order-hide" data-bind="value: claimForRefund().NoteSupporter, text: claimForRefund().NoteSupporter()=='null' ? '--' : claimForRefund().NoteSupporter(), valueUpdate: 'blur'@*, event: { blur: claimForRefundNoteUpdate}*@, enable: @Html.Raw(isCustomerCare ? "true": "false")" style="width:100%;" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">Accounting staff's note</h3>
                    </div>
                    <div class="box-body">
                        <textarea class="order-hide" data-bind="value: claimForRefund().NoteAccountanter, text: claimForRefund().NoteAccountanter()=='null' ? '--' : claimForRefund().NoteAccountanter(), enable: @Html.Raw(isAccountancy ? "true": "false")" style="width:100%;" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-bullhorn"></i>
                        <h3 class="box-title">Internal notes</h3>
                    </div>
                    <div class="box-body">
                        <textarea class="order-hide" data-bind="value: complainModel().ContentInternal, text: complainModel().ContentInternal()=='null' ? '--' : complainModel().ContentInternal()" disabled style="width:100%;" cols="30" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row importwarehouse">
            <div class="col-xs-12 table-responsive">
                <div data-bind="css: isDetailRending() == true? 'display-none' : ''">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
                <div data-bind="css: isDetailRending() == true? '' : 'display-none'" class="display-none">
                    <b class="strong-title">Refund calculation: </b>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Expected amount to pay customer (Baht)</th>
                                <th class="text-center">The amount reclaimed shop (CNY)</th>
                                <th class="text-center">The amount order bargain (CNY)</th>
                                <th class="text-center text-blue">Customer care required to pay customers (Baht)</th>
                                <th class="text-center text-green">the amount deducted paying custome (Baht)</th>
                                <th class="text-center text-red">The amount of real account paid customer (Baht)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center decimal"><span data-bind="text: claimForRefund().MoneyRefund"></span></td>
                                <td class="text-center"><input data-bind="value: claimForRefund().MoneyOrderRefund, valueUpdate: 'blur', event: { blur: updateMoneyOrderRefund}, enable: @Html.Raw(isOrder ? "true": "false")" class="text-right form-control decimal" /></td>
                                <td class="text-center"><input data-bind="value: claimForRefund().MoneyOrderRefundDicker, valueUpdate: 'blur', event: { blur: updateMoneyOrderRefund}, enable: @Html.Raw(isOrder ? "true": "false")" class="text-right form-control decimal" /></td>
                                <td class="text-center"><input data-bind="value: claimForRefund().SupporterMoneyRequest, valueUpdate: 'blur', event: { blur: minusClaimForRefundOld}, enable: @Html.Raw(isCustomerCare ? "true": "false")" class="order-hide text-right form-control decimal" /></td>
                                <td class="text-center"><input data-bind="value: claimForRefund().CurrencyDiscount, valueUpdate: 'blur', event: { blur: minusClaimForRefundOld}, enable: @Html.Raw(isCustomerCare ? "true": "false")" class="order-hide text-right form-control decimal" /></td>
                                <td class="text-center decimal" data-bind="text: formatNumberic(claimForRefund().RealTotalRefund(), 'N2')"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-2"></div>
                <div class="col-xs-3">
                    <h4>Order information</h4>
                    <p>
                        Total Money Product: <b data-bind="text: order().TotalPrice"></b>(CNY)
                    </p>
                    <p>
                        Total money order: <b data-bind="text: order().Total"></b>(Baht)
                    </p>

                    <p>
                        Total money customer paid: <b data-bind="text: order().TotalPayed"></b>(Baht)
                    </p>
                    <p>
                        Exchange rate: <b data-bind="text: '1 CNY = ' + formatNumberic(order().ExchangeRate(), 'N2') + ' Baht'"></b>
                    </p>

                </div>
                <div class="col-xs-3">
                    <h4>Discount (%)Level VIP</h4>
                    <p>
                        Cấp độ VIP: <b data-bind="text: vipName"></b>
                    </p>
                    <p>
                        Deposit: <b data-bind="text: order().DepositPercent"></b>%
                    </p>
                    <p>
                        Service charge: <b data-bind="text: 'giảm ' + vipOrder()"></b>%
                    </p>
                    <p>
                        Actual weight: <b data-bind="text: 'giảm ' + vipShip()"></b>%
                    </p>
                </div>
                <div class="col-xs-3">
                    <h4>Service fee</h4>
                    <div data-bind="foreach: listOrderService">
                        <p>
                            <span data-bind="text: ServiceName"></span>:
                            @{
                                if (isOrder)
                                {
                                    <b data-bind="text: formatNumbericCN(TotalPrice, 'N2')"></b>
                                }
                                else
                                {
                                    <b data-bind="text: formatNumberic(TotalPrice, 'N2')"></b>
                                }
                            }
                            (Baht)
                        </p>

                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        @*<button class="btn btn-success" data-bind="click: btnClaimForRefundInfoUpdate" data-dismiss="modal">
                Cập nhật Refund
            </button>*@
        @if (isOrder)
        {
            <button class="btn btn-success" data-bind="click: btnClaimForRefundForwardCareCustomer" data-dismiss="modal">
                Transfer customer care
            </button>
        }
        <button class="btn btn-success" data-bind="click: btnClaimForRefundForwardBoss,  enable: @Html.Raw(isCustomerCare ? "true": "false")" data-dismiss="modal">
            Transfer approval
        </button>
        @if (CheckPermision(EnumAction.Approvel, EnumPage.TicketClaimforrefund))
        {
            <button class="btn btn-success" data-bind="click: btnClaimForRefundForwardCareCustomer" data-dismiss="modal">
                Approval
            </button>
        }
        <button class="btn btn-success" data-bind="click: btnClaimForRefundForwardAccountant, enable: @Html.Raw(isCustomerCare ? "true": "false")" data-dismiss="modal">
            Wait accounting accounting process
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
    </div>
</div>
