@model  ModelView<Library.DbContext.Entities.CustomerLevel, CustomerLevelViewModel>

@{
    ViewBag.Title = "Customer level configuration";

}
@section pagespecific{
    <script src="~/Scripts/viewmodels/customerLevel/customerLevelViewModel.js"></script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 data-bind="text: headerTitle"></h1>
</section>

<!-- Main content -->
<section class="content">
    <form action="@Model.PageInfo.Url" id="searchForm" method="post" role="form">
        <div class="box box-primary">
            @Html.HiddenFor(x => x.PageInfo.CurrentPage)
            <div class="box-header with-border">
                <div class="row">
                    <section class="col-md-12 form-group">
                        <h3 data-bind="text: listCustomerLevel" class="box-title"></h3>
                        <a href="@Url.Action("CreateCustomerLevel")" role="button" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add new</a>
                    </section>
                </div>
                <div class="row">
                    <section class="col-md-12 form-group" id="body-table">
                        @Html.Partial("_LevelList", Model)
                    </section>
                </div>



            </div>
        </div>
    </form>
    <!-- /.row -->
</section>
<!-- /.content -->

@using (Html.BeginScriptBlock())
{
    <script type="text/javascript">
        function pagging(currentPage) {
            $("#PageInfo_CurrentPage").val(currentPage);
            searchForm();
        }

        function searchForm() {
            $("#searchForm").submit();
        }

        $(document).ready(function () {
            var frm = $('#searchForm');
            frm.submit(function (ev) {
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        $("#body-table").html(data);
                    }
                });

                ev.preventDefault();
            });

            $('select').select2({
                minimumResultsForSearch: -1
            });

            $("#body-table")
               .on("click",
                   "a.delete-item",
                   function () {
                       var $this = $(this);
                       swal({
                           title: 'Are you sure you want to delete this item?',
                           text: 'Category "' + $this.data("name") + '"',
                           type: 'warning',
                           showCancelButton: true,
                           //confirmButtonColor: '#3085d6',
                           //cancelButtonColor: '#d33',
                          cancelButtonText: 'Cancel',
                           confirmButtonText: 'Delete'
                       })
                           .then(function () {
                               $.post($this.data("url"),
                                   function (data) {
                                       if (data <= 0) {
                                           toastr.warning("Category Does not exist or has been deleted");
                                           return;
                                       }
                                       toastr.success("Deleted successfully");
                                       searchForm();
                                   });
                           }, function () { });
                   });

            @if (TempData["Msg"] != null) {
                <text>toastr.success('@Html.Raw(TempData["Msg"])');</text>
            }
        })
    </script>
} 