@{
    ViewBag.Title = "Order processing room";
    var cultureJs = string.Format("{0}.js", UserState.Culture);
}
@section Styles{
    <link href="~/Content/plugins/tabdrop/css/tabdrop.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="/Content/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
    <link href="/Content/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
    <style>
        input.decimal:focus {
            text-align: left !important;
        }
    </style>
}

<section class="content-header">
    <h1>
        Full Name - Title Name
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Request list ship</a></li>
    </ol>
</section>

<section id="ShipView" class="content">
    <div class="row">
        <div class="col-xs-12">
            <div data-bind="css: isLoading() == true? 'display-none' : ''" class="text-center" style="padding-top:200px">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw text-blue"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div data-bind="css: isLoading() == true? '' : 'display-none'" class="display-none">
                <div data-bind="template: { name: templateId }"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/RequestShip/_RequestShipDetail.cshtml")
</section>
@Html.Partial("~/Views/Partial/Order/_OrderDetail.cshtml")
@Html.Partial("~/Views/Partial/Order/_OrderCommerceDetail.cshtml")
@Html.Partial("~/Views/Partial/Order/_OrderDepositDetail.cshtml")




@section pagespecific{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Content/plugins/tabdrop/js/bootstrap-tabdrop.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/datepicker/locales/bootstrap-datepicker.vi.js"></script>
    <script src="/Content/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="/Content/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="~/Scripts/common/status.@cultureJs"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script src="/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/components/SearchCustomerComponent.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script id="isEmp"></script>
    <!--Danh sách hàng Tally wrong-->
    @Html.Partial("~/Views/RequestShip/_RequestList.cshtml")
    @Html.Partial("~/Views/RequestShip/_RequestIndex.cshtml")

    <script src="/Scripts/viewmodels/package/packageDetailModel.js"></script>
    <script src="~/Scripts/models/order/orderDetailModel.js"></script>
    <script src="~/Scripts/models/ship/requestShipModel.js"></script>
    <script src="~/Scripts/viewmodels/order/orderDetailViewModel.js"></script>
    <script src="~/Scripts/viewmodels/order/depositDetailViewModel.js"></script>
    <script src="~/Scripts/viewmodels/order/orderCommerceDetailViewModel.js"></script>

    <script src="~/Scripts/viewmodels/ship/requestShipViewModel.js"></script>
    <script>
        $(function () {
            $('#datepicker').datepicker({
                autoclose: true
            });
        });
    </script>
}